//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
	padding: 13px 15px 12px 25px;
	margin: 0 0 @baseLineHeight;
	list-style: none;
	background-color: @green;
	color:@white;
	text-transform:uppercase;
	font:400 23px/28px Asap;
	letter-spacing:-0.5px;
  > li {
    display: inline-block;	
		
    .ie7-inline-block();     
  }
  a{
		color:@white;
		&:hover{
			text-decoration:none;
			color:#3a3a38;
		}
	}
  >.divider {
      padding: 0 21px;
      color: @white;
    }
  > .active {
    color: @white;
  }
}
