.mfp-bg{top:0;left:0;width:100%;height:100%;z-index:1042;overflow:hidden;position:fixed;background:#0b0b0b;opacity:0.8;filter:alpha(opacity=80)}.mfp-wrap{top:0;left:0;width:100%;height:100%;z-index:1043;position:fixed;outline:none !important;-webkit-backface-visibility:hidden}.mfp-container{text-align:center;position:absolute;width:100%;height:100%;left:0;top:0;padding:0
8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-container:before{content:'';display:inline-block;height:100%;vertical-align:middle}.mfp-align-top .mfp-container:before{display:none}.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0
auto;text-align:left;z-index:1045}.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content{width:100%;cursor:auto}.mfp-ajax-cur{cursor:progress}.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close{}.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}.mfp-auto-cursor .mfp-content{cursor:auto}.mfp-close,.mfp-arrow,.mfp-preloader,.mfp-counter{-webkit-user-select:none;-moz-user-select:none;user-select:none}.mfp-loading.mfp-figure{display:none}.mfp-hide{display:none !important}.mfp-preloader{color:#ccc;position:absolute;top:50%;width:auto;text-align:center;margin-top:-0.8em;left:8px;right:8px;z-index:1044}.mfp-preloader
a{color:#ccc}.mfp-preloader a:hover{color:white}.mfp-s-ready .mfp-preloader{display:none}.mfp-s-error .mfp-content{display:none}button.mfp-close,button.mfp-arrow{overflow:visible;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;display:block;padding:0;z-index:1046}button::-moz-focus-inner{padding:0;border:0}.mfp-close{width:44px;height:44px;line-height:44px;position:absolute;right:0;top:0;text-decoration:none;text-align:center;opacity:0.65;padding:0
0 18px 10px;color:white;font-style:normal;font-size:28px;font-family:Arial,Baskerville,monospace}.mfp-close:hover,.mfp-close:focus{opacity:1}.mfp-close:active{top:1px}.mfp-close-btn-in .mfp-close{color:#333}.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close{color:white;right:-6px;text-align:right;padding-right:6px;width:100%}.mfp-counter{position:absolute;top:0;right:0;color:#ccc;font-size:12px;line-height:18px}.mfp-arrow{position:absolute;opacity:0.65;margin:0;top:50%;margin-top:-55px;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:rgba(0,0,0,0)}.mfp-arrow:active{margin-top:-54px}.mfp-arrow:hover,.mfp-arrow:focus{opacity:1}.mfp-arrow:before, .mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:medium inset transparent}.mfp-arrow:after,
.mfp-arrow .mfp-a{border-top-width:13px;border-bottom-width:13px;top:8px}.mfp-arrow:before,
.mfp-arrow .mfp-b{border-top-width:21px;border-bottom-width:21px}.mfp-arrow-left{left:0}.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a{border-right:17px solid white;margin-left:31px}.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b{margin-left:25px;border-right:27px solid #3f3f3f}.mfp-arrow-right{right:0}.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a{border-left:17px solid white;margin-left:39px}.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b{border-left:27px solid #3f3f3f}.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px}.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}.mfp-iframe-scaler
iframe{position:absolute;display:block;top:0;left:0;width:100%;height:100%;box-shadow:0 0 8px rgba(0, 0, 0, 0.6);background:black}.mfp-iframe-holder .mfp-close{top:-40px}img.mfp-img{width:auto;max-width:100%;height:auto;display:block;line-height:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px
0 40px;margin:0
auto}.mfp-figure:after{content:'';position:absolute;left:0;top:40px;bottom:40px;display:block;right:0;width:auto;height:auto;z-index:-1;box-shadow:0 0 8px rgba(0,0,0,0.6);background:#444}.mfp-figure{line-height:0}.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}.mfp-title{text-align:left;line-height:18px;color:#f3f3f3;word-break:break-word;padding-right:36px}.mfp-figure
small{color:#bdbdbd;display:block;font-size:12px;line-height:14px}.mfp-image-holder .mfp-content{max-width:100%}.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}.mfp-img-mobile img.mfp-img{padding:0}.mfp-img-mobile .mfp-figure:after{top:0;bottom:0}.mfp-img-mobile .mfp-bottom-bar{background:rgba(0, 0, 0, 0.6);bottom:0;margin:0;top:auto;padding:3px
5px;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-img-mobile .mfp-bottom-bar:empty{padding:0}.mfp-img-mobile .mfp-counter{right:5px;top:3px}.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0, 0, 0, 0.6);position:fixed;text-align:center;padding:0}.mfp-img-mobile .mfp-figure
small{display:inline;margin-left:5px}}@media all and (max-width: 900px){.mfp-arrow{-webkit-transform:scale(0.75);transform:scale(0.75)}.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0}.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%}.mfp-container{padding-left:6px;padding-right:6px}}.mfp-ie7 .mfp-img{padding:0}.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px}.mfp-ie7 .mfp-container{padding:0}.mfp-ie7 .mfp-content{padding-top:44px}.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0}.mfp-fade.mfp-bg{opacity:0;-webkit-transition:all 0.15s ease-out;-moz-transition:all 0.15s ease-out;transition:all 0.15s ease-out}.mfp-fade.mfp-bg.mfp-ready{opacity:0.8}.mfp-fade.mfp-bg.mfp-removing{opacity:0}.mfp-fade.mfp-wrap .mfp-content{opacity:0;-webkit-transition:all 0.15s ease-out;-moz-transition:all 0.15s ease-out;transition:all 0.15s ease-out}.mfp-fade.mfp-wrap.mfp-ready .mfp-content{opacity:1}.mfp-fade.mfp-wrap.mfp-removing .mfp-content{opacity:0}.mfp-zoom-in{}.mfp-zoom-in .mfp-with-anim{opacity:0;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;-webkit-transform:scale(0.8);-moz-transform:scale(0.8);-ms-transform:scale(0.8);transform:scale(0.8)}.mfp-zoom-in.mfp-bg{opacity:0;-webkit-transition:all 0.4s ease-out;-moz-transition:all 0.4s ease-out;-ms-transition:all 0.4s ease-out;transition:all 0.4s ease-out}.mfp-zoom-in.mfp-ready .mfp-with-anim{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}.mfp-zoom-in.mfp-ready.mfp-bg{opacity:0.8}.mfp-zoom-in.mfp-removing .mfp-with-anim{-webkit-transform:scale(0.8);-moz-transform:scale(0.8);-ms-transform:scale(0.8);transform:scale(0.8);opacity:0}.mfp-zoom-in.mfp-removing.mfp-bg{opacity:0}.soliloquy-container,
.soliloquy-container
*{background:none;border:0
none;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;float:none;font-size:100%;height:auto;letter-spacing:normal;list-style:none;outline:none;position:static;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;width:auto;visibility:visible;overflow:visible;margin:0;padding:0;line-height:1;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;-o-box-shadow:none;box-shadow:none;-webkit-appearance:none}.soliloquy-container{position:relative;background:transparent url("/wp-content/plugins/soliloquy-lite/assets/css/images/preloader.gif") no-repeat scroll 50% 50%;z-index:0;width:100%;max-width:100%}.soliloquy-container:after{display:none;height:0;line-height:0;visibility:hidden;content:url("/wp-content/plugins/soliloquy-lite/assets/css/images/left.png") url("/wp-content/plugins/soliloquy-lite/assets/css/images/right.png") url("/wp-content/plugins/soliloquy-lite/assets/css/images/circle.png") url("/wp-content/plugins/soliloquy-lite/assets/css/images/circle-hover.png") url("/wp-content/plugins/soliloquy-lite/assets/css/images/pause.png") url("/wp-content/plugins/soliloquy-lite/assets/css/images/play.png") url("/wp-content/plugins/soliloquy-lite/assets/css/images/video.png")}.soliloquy-container .soliloquy-wrap{width:100%;position:relative;margin:0;padding:0;list-style:none !important;height:100%;zoom:1;*zoom:1}.soliloquy-container .soliloquy-viewport{-webkit-transform:translatez(0);-moz-transform:translatez(0);-ms-transform:translatez(0);-o-transform:translatez(0);transform:translatez(0)}.soliloquy-clear{clear:both}.soliloquy-clear:after{clear:both;content:'.';display:block;height:0;line-height:0;overflow:auto;visibility:hidden;zoom:1}.soliloquy-hide{display:none}.soliloquy-container
a{outline:none}.soliloquy-container .soliloquy-wrapper,
.soliloquy-container .soliloquy-item{width:100%;position:relative;margin:0;padding:0;list-style:none !important}.soliloquy-container .soliloquy-item{min-height:1px;min-width:1px;display:none}.no-js .soliloquy-container .soliloquy-slides>li:first-child{display:block}.soliloquy-container .soliloquy-item:after{content:'.';position:absolute;bottom:0;left:0;z-index:-1000;visibility:hidden;opacity:0;height:0;line-height:0}.soliloquy-container .soliloquy-item>a{display:block;outline:none;width:100%;position:relative;border:none}.soliloquy-container .soliloquy-image{max-width:100%;height:auto;display:block;margin:0
auto;-webkit-user-drag:none;-moz-user-select:none;-ms-user-select:none}.soliloquy-container .soliloquy-prev{display:block;width:32px;height:32px;position:absolute;top:50%;margin-top:-16px;left:10px;z-index:1320;background:rgba(0, 0, 0, 0.7) url("/wp-content/plugins/soliloquy-lite/assets/css/images/left.png") no-repeat scroll 50% 50%}.soliloquy-container .soliloquy-next{display:block;width:32px;height:32px;position:absolute;top:50%;margin-top:-16px;right:10px;z-index:1320;background:rgba(0, 0, 0, 0.7) url("/wp-content/plugins/soliloquy-lite/assets/css/images/right.png") no-repeat scroll 50% 50%}.soliloquy-container .soliloquy-prev.disabled,
.soliloquy-container .soliloquy-next.disabled{cursor:default;pointer-events:none;opacity:0.3}.soliloquy-container .soliloquy-pager{width:100%;margin:0
auto;text-align:center;position:absolute;bottom:10px;height:14px}.soliloquy-container .soliloquy-pager-item{display:inline-block;margin:0
0 0 7px;position:relative;z-index:1320}.soliloquy-container .soliloquy-pager-item:first-child{margin-left:0}.soliloquy-container .soliloquy-pager-link{background:url("/wp-content/plugins/soliloquy-lite/assets/css/images/circle.png") no-repeat scroll 0 0;width:14px;height:14px;display:block;outline:none;text-indent:-9999px;text-decoration:none;border:none}.soliloquy-container .soliloquy-pager-link:hover,
.soliloquy-container .soliloquy-pager-link.active{background-image:url("/wp-content/plugins/soliloquy-lite/assets/css/images/circle-hover.png")}.soliloquy-container .soliloquy-controls-auto-item{display:block;width:32px;height:32px;position:absolute;bottom:10px;right:10px;z-index:1220}.soliloquy-container .soliloquy-stop{display:block;width:32px;height:32px;background:rgba(0, 0, 0, 0.7) url("/wp-content/plugins/soliloquy-lite/assets/css/images/pause.png") no-repeat scroll 50% 50%}.soliloquy-container .soliloquy-start{display:block;width:32px;height:32px;background:rgba(0, 0, 0, 0.7) url("/wp-content/plugins/soliloquy-lite/assets/css/images/play.png") no-repeat scroll 50% 50%}.soliloquy-container .soliloquy-caption{position:absolute;bottom:0;left:0;width:100%;z-index:1120;padding-bottom:25px;background:rgba(0, 0, 0, 0.5)}.soliloquy-container .soliloquy-caption-inside{font-size:1em;line-height:1.25;display:block;color:#fff;text-shadow:0 1px 1px #000;text-align:center;padding:10px}.soliloquy-container .soliloquy-caption-inside
a{color:#fff}.soliloquy-container .soliloquy-controls{opacity:0}.soliloquy-rtl{}.soliloquy-rtl .soliloquy-pager-item:first-child{margin-left:7px}.soliloquy-rtl .soliloquy-pager-item:last-child{margin-left:0}.soliloquy-rtl .soliloquy-next{left:10px;right:auto;background-image:url(/wp-content/plugins/soliloquy-lite/assets/css/images/left.png)}.soliloquy-rtl .soliloquy-prev{right:10px;left:auto;background-image:url(/wp-content/plugins/soliloquy-lite/assets/css/images/right.png)}.soliloquy-rtl .soliloquy-thumbnails-item{float:right !important}.rtl{}.rtl .soliloquy-pager-item:first-child{margin-left:7px}.rtl .soliloquy-pager-item:last-child{margin-left:0}.rtl .soliloquy-next{left:10px;right:auto;background-image:url(/wp-content/plugins/soliloquy-lite/assets/css/images/left.png)}.rtl .soliloquy-prev{right:10px;left:auto;background-image:url(/wp-content/plugins/soliloquy-lite/assets/css/images/right.png)}.rtl .soliloquy-thumbnails-item{float:right !important}@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx){.soliloquy-container{background-image:url("/wp-content/plugins/soliloquy-lite/assets/css/images/preloader@2x.gif");background-size:16px 16px}.soliloquy-container .soliloquy-prev{background-image:url("/wp-content/plugins/soliloquy-lite/assets/css/images/left@2x.png");background-size:10px 14px}.soliloquy-container .soliloquy-next{background-image:url("/wp-content/plugins/soliloquy-lite/assets/css/images/right@2x.png");background-size:10px 14px}.soliloquy-container .soliloquy-pager-link{background-image:url("/wp-content/plugins/soliloquy-lite/assets/css/images/circle@2x.png");background-size:14px 14px}.soliloquy-container .soliloquy-pager-link:hover,
.soliloquy-container .soliloquy-pager-link.active{background-image:url("/wp-content/plugins/soliloquy-lite/assets/css/images/circle-hover@2x.png");background-size:14px 14px}.soliloquy-container .soliloquy-stop{background-image:url("/wp-content/plugins/soliloquy-lite/assets/css/images/pause@2x.png");background-size:9px 14px}.soliloquy-container .soliloquy-start{background-image:url("/wp-content/plugins/soliloquy-lite/assets/css/images/play@2x.png");background-size:14px 14px}.soliloquy-container .soliloquy-video-icon{background-image:url("/wp-content/plugins/soliloquy-lite/assets/css/images/video@2x.png");background-size:50px 50px}}@media (max-width: 600px){.soliloquy-container .soliloquy-pager,
.soliloquy-container .soliloquy-caption,
.soliloquy-container .soliloquy-controls-auto{display:none}}@media only screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 600px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 600px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (max-width: 600px) and (min-device-pixel-ratio: 2), only screen and (max-width: 600px) and (min-resolution: 192dpi), only screen and (max-width: 600px) and (min-resolution: 2dppx){.soliloquy-container .soliloquy-video-icon{background-image:url("/wp-content/plugins/soliloquy-lite/assets/css/images/video.png");background-size:25px 25px}}