@import url("/wp-content/themes/theme45164/main-style.css");#sm2-container{position:absolute;width:1px;height:1px;overflow:hidden;_overflow:hidden}#sm2-container object,
#sm2-container
embed{width:48px;height:48px;max-width:48px;max-height:48px}#sm2-container.swf_timedout{position:relative;width:48px;height:48px}#sm2-container.swf_timedout,
#sm2-container.swf_timedout object,
#sm2-container.swf_timedout
embed{min-width:48px;min-height:48px}#sm2-container.swf_unblocked{width:1px;height:1px}#sm2-container.swf_loaded object,
#sm2-container.swf_loaded embed,
#sm2-container.swf_unblocked object,
#sm2-container.swf_unblocked
embed{left:-9999em;top:-9999em}#sm2-container.swf_error{display:none}#sm2-container.high_performance,#sm2-container.high_performance.swf_timeout{position:absolute;position:fixed}#sm2-container.high_performance{overflow:hidden;_top:-9999px;_left:-9999px;bottom:0px;left:0px;z-index:99}#sm2-container.high_performance.swf_loaded,#sm2-container.high_performance.swf_unblocked{z-index:auto}#sm2-container.high_performance.swf_loaded,
#sm2-container.high_performance.swf_unblocked,
#sm2-container.high_performance.swf_unblocked object,
#sm2-container.high_performance.swf_unblocked
embed{height:8px;width:8px}#sm2-container.high_performance.swf_loaded{top:auto;bottom:0px;left:0px}#sm2-container.high_performance.swf_loaded object,
#sm2-container.high_performance.swf_loaded embed,
#sm2-container.high_performance.swf_unblocked object,
#sm2-container.high_performance.swf_unblocked
embed{left:auto;top:auto}#sm2-container.high_performance.swf_timedout{z-index:99}.sc_player_container1{display:inline}.sc_player_container1
.myButton_play{background:transparent url(/wp-content/plugins/compact-wp-audio-player/image/round-play-button-black.png) no-repeat !important;cursor:pointer !important;width:32px !important;height:32px !important;border:none !important;position:relative;margin:0
!important;padding:0
!important}.sc_player_container1
.myButton_stop{background:transparent url(/wp-content/plugins/compact-wp-audio-player/image/round-pause-button-black.png) no-repeat !important;cursor:pointer !important;width:32px !important;height:32px !important;border:none !important;position:relative;margin:0
!important;padding:0
!important}.sc_player_container2{max-width:56em}.sc_player_container2
.myButton_play{background:url(/wp-content/plugins/compact-wp-audio-player/image/stop-play.jpg) no-repeat;background-position:-30px -30px;cursor:pointer;width:40px;height:30px;border:none;position:relative}.sc_player_container2
.myButton_stop{background:url(/wp-content/plugins/compact-wp-audio-player/image/stop-play.jpg) no-repeat;background-position:-31px -90px;cursor:pointer;width:40px;height:30px;border:none;position:relative}