.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus{outline:none}.slides,.flex-control-nav,.flex-direction-nav{margin:0;padding:0;list-style:none}.flexslider-rtl{direction:rtl;text-align:right}@font-face{font-family:'flexslider-icon';src:url('/wp-content/plugins/cherry-plugin/lib/js/FlexSlider/fonts/flexslider-icon.eot');src:url('/wp-content/plugins/cherry-plugin/lib/js/FlexSlider/fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
url('/wp-content/plugins/cherry-plugin/lib/js/FlexSlider/fonts/flexslider-icon.woff') format('woff'),
url('/wp-content/plugins/cherry-plugin/lib/js/FlexSlider/fonts/flexslider-icon.ttf') format('truetype'),
url('/wp-content/plugins/cherry-plugin/lib/js/FlexSlider/fonts/flexslider-icon.svg#flexslider-icon') format('svg');font-weight:normal;font-style:normal}.flexslider{margin:0;padding:0}.flexslider .slides>li{display:none;-webkit-backface-visibility:hidden}.flexslider .slides
img{width:100%;display:block}.flex-pauseplay
span{text-transform:capitalize}.slides:after{content:"\0020";display:block;clear:both;visibility:hidden;line-height:0;height:0}html[xmlns] .slides{display:block}* html
.slides{height:1%}.no-js .slides>li:first-child{display:block}.flexslider{margin:0
0 60px;position:relative;zoom:1;border:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.flexslider.no-bg{background:none}.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease}.loading .flex-viewport{max-height:300px}.flexslider
.slides{zoom:1}.carousel
li{margin-right:5px}.flexslider-rtl .carousel
li{margin-right:0;margin-left:5px}.flex-direction-nav{*height:0}.flex-direction-nav
a{display:block;width:40px;height:40px;margin:-20px 0 0;position:absolute;top:50%;z-index:10;overflow:hidden;opacity:0;cursor:pointer;color:rgba(0,0,0,0.8);text-shadow:1px 1px 0 rgba(255,255,255,0.3);-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease}.flex-direction-nav .flex-prev{left:50px}.flexslider-rtl .flex-direction-nav .flex-prev{left:auto;right:-50px}.flex-direction-nav .flex-next{right:50px;text-align:right}.flexslider-rtl .flex-direction-nav .flex-next{right:auto;left:-50px;text-align:left}.flexslider:hover .flex-prev{opacity:0.7;left:10px}.flexslider-rtl.flexslider:hover .flex-prev{left:auto;right:10px}.flexslider:hover .flex-next{opacity:0.7;right:10px}.flexslider-rtl.flexslider:hover .flex-next{right:auto;left:10px}.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{opacity:1}.flex-direction-nav .flex-disabled{opacity:0!important;filter:alpha(opacity=0);cursor:default}.flex-direction-nav a:before{font-family:"flexslider-icon";font-size:40px;line-height:40px;display:inline-block;content:'\f001'}.flex-direction-nav a.flex-next:before{content:'\f002'}.flexslider-rtl .flex-direction-nav a.flex-next:before{content:'\f001'}.flexslider-rtl .flex-direction-nav a.flex-prev:before{content:'\f002'}.flex-pauseplay
a{display:block;width:20px;height:20px;position:absolute;bottom:5px;left:10px;opacity:0.8;z-index:10;overflow:hidden;cursor:pointer;color:#000}.flexslider-rtl .flex-pauseplay
a{left:auto;right:10px}.flex-pauseplay a:before{font-family:"flexslider-icon";font-size:20px;display:inline-block;content:'\f004'}.flex-pauseplay a:hover{opacity:1}.flex-pauseplay a.flex-play:before{content:'\f003'}.flex-control-nav{width:100%;position:absolute;bottom:-40px;text-align:center}.flex-control-nav
li{margin:0
6px;display:inline-block;zoom:1;*display:inline}.flex-control-paging li
a{width:11px;height:11px;display:block;background:#666;background:rgba(0,0,0,0.5);cursor:pointer;text-indent:-9999px;-webkit-border-radius:20px;-moz-border-radius:20px;-o-border-radius:20px;border-radius:20px;-webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);-moz-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);-o-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);box-shadow:inset 0 0 3px rgba(0,0,0,0.3)}.flex-control-paging li a:hover{background:#333;background:rgba(0,0,0,0.7)}.flex-control-paging li a.flex-active{background:#000;background:rgba(0,0,0,0.9);cursor:default}.flex-control-thumbs{margin:5px
0 0;position:static;overflow:hidden}.flex-control-thumbs
li{width:25%;float:left;margin:0}.flexslider-rtl .flex-control-thumbs
li{float:right}.flex-control-thumbs
img{width:100%;display:block;opacity:.7;cursor:pointer}.flex-control-thumbs img:hover{opacity:1}.flex-control-thumbs .flex-active{opacity:1;cursor:default}@media screen and (max-width:860px){.flex-direction-nav .flex-prev{opacity:1;left:10px}.flexslider-rtl .flex-direction-nav .flex-prev{left:auto;right:10px}.flex-direction-nav .flex-next{opacity:1;right:10px}.flexslider-rtl .flex-direction-nav .flex-next{right:auto;left:10px}}.owl-carousel .owl-wrapper:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel{display:none;position:relative;width:100%;-ms-touch-action:pan-y}.owl-carousel .owl-wrapper{display:none;position:relative;-webkit-transform:translate3d(0px, 0px, 0px)}.owl-carousel .owl-wrapper-outer{overflow:hidden;position:relative;width:100%}.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out}.owl-carousel .owl-item{float:left}.owl-controls .owl-page,
.owl-controls .owl-buttons
div{cursor:pointer}.owl-controls{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}.grabbing{cursor:url(/wp-content/plugins/cherry-plugin/lib/js/owl-carousel/grabbing.png) 8 8, move}.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-origin{-webkit-perspective:1200px;-webkit-perspective-origin-x:50%;-webkit-perspective-origin-y:50%;-moz-perspective:1200px;-moz-perspective-origin-x:50%;-moz-perspective-origin-y:50%;perspective:1200px}.owl-fade-out{z-index:10;-webkit-animation:fadeOut .7s both ease;-moz-animation:fadeOut .7s both ease;animation:fadeOut .7s both ease}.owl-fade-in{-webkit-animation:fadeIn .7s both ease;-moz-animation:fadeIn .7s both ease;animation:fadeIn .7s both ease}.owl-backSlide-out{-webkit-animation:backSlideOut 1s both ease;-moz-animation:backSlideOut 1s both ease;animation:backSlideOut 1s both ease}.owl-backSlide-in{-webkit-animation:backSlideIn 1s both ease;-moz-animation:backSlideIn 1s both ease;animation:backSlideIn 1s both ease}.owl-goDown-out{-webkit-animation:scaleToFade .7s ease both;-moz-animation:scaleToFade .7s ease both;animation:scaleToFade .7s ease both}.owl-goDown-in{-webkit-animation:goDown .6s ease both;-moz-animation:goDown .6s ease both;animation:goDown .6s ease both}.owl-fadeUp-in{-webkit-animation:scaleUpFrom .5s ease both;-moz-animation:scaleUpFrom .5s ease both;animation:scaleUpFrom .5s ease both}.owl-fadeUp-out{-webkit-animation:scaleUpTo .5s ease both;-moz-animation:scaleUpTo .5s ease both;animation:scaleUpTo .5s ease both}@-webkit-keyframes
empty{0%{opacity:1}}@-moz-keyframes
empty{0%{opacity:1}}@keyframes
empty{0%{opacity:1}}@-webkit-keyframes
fadeIn{0%{opacity:0}100%{opacity:1}}@-moz-keyframes
fadeIn{0%{opacity:0}100%{opacity:1}}@keyframes
fadeIn{0%{opacity:0}100%{opacity:1}}@-webkit-keyframes
fadeOut{0%{opacity:1}100%{opacity:0}}@-moz-keyframes
fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes
fadeOut{0%{opacity:1}100%{opacity:0}}@-webkit-keyframes
backSlideOut{25%{opacity: .5;-webkit-transform:translateZ(-500px)}75%{opacity: .5;-webkit-transform:translateZ(-500px) translateX(-200%)}100%{opacity: .5;-webkit-transform:translateZ(-500px) translateX(-200%)}}@-moz-keyframes
backSlideOut{25%{opacity: .5;-moz-transform:translateZ(-500px)}75%{opacity: .5;-moz-transform:translateZ(-500px) translateX(-200%)}100%{opacity: .5;-moz-transform:translateZ(-500px) translateX(-200%)}}@keyframes
backSlideOut{25%{opacity: .5;transform:translateZ(-500px)}75%{opacity: .5;transform:translateZ(-500px) translateX(-200%)}100%{opacity: .5;transform:translateZ(-500px) translateX(-200%)}}@-webkit-keyframes
backSlideIn{0%,25%{opacity: .5;-webkit-transform:translateZ(-500px) translateX(200%)}75%{opacity: .5;-webkit-transform:translateZ(-500px)}100%{opacity:1;-webkit-transform:translateZ(0) translateX(0)}}@-moz-keyframes
backSlideIn{0%,25%{opacity: .5;-moz-transform:translateZ(-500px) translateX(200%)}75%{opacity: .5;-moz-transform:translateZ(-500px)}100%{opacity:1;-moz-transform:translateZ(0) translateX(0)}}@keyframes
backSlideIn{0%,25%{opacity: .5;transform:translateZ(-500px) translateX(200%)}75%{opacity: .5;transform:translateZ(-500px)}100%{opacity:1;transform:translateZ(0) translateX(0)}}@-webkit-keyframes
scaleToFade{to{opacity:0;-webkit-transform:scale(.8)}}@-moz-keyframes
scaleToFade{to{opacity:0;-moz-transform:scale(.8)}}@keyframes
scaleToFade{to{opacity:0;transform:scale(.8)}}@-webkit-keyframes
goDown{from{-webkit-transform:translateY(-100%)}}@-moz-keyframes
goDown{from{-moz-transform:translateY(-100%)}}@keyframes
goDown{from{transform:translateY(-100%)}}@-webkit-keyframes
scaleUpFrom{from{opacity:0;-webkit-transform:scale(1.5)}}@-moz-keyframes
scaleUpFrom{from{opacity:0;-moz-transform:scale(1.5)}}@keyframes
scaleUpFrom{from{opacity:0;transform:scale(1.5)}}@-webkit-keyframes
scaleUpTo{to{opacity:0;-webkit-transform:scale(1.5)}}@-moz-keyframes
scaleUpTo{to{opacity:0;-moz-transform:scale(1.5)}}@keyframes
scaleUpTo{to{opacity:0;transform:scale(1.5)}}