<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments for Peconic Pediatrics</title>
	<atom:link href="http://peconicpediatrics.com/comments/feed/" rel="self" type="application/rss+xml" />
	<link>http://peconicpediatrics.com</link>
	<description>Riverhead NY - Peconic Pediatrics</description>
	<lastBuildDate>Tue, 09 May 2017 09:37:21 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8</generator>
	<item>
		<title>Comment on Spotlight: Rock For Reilly by Sildenafil</title>
		<link>http://peconicpediatrics.com/peconic-pediatrics-blog/spotlight-rock-for-reilly/#comment-1787</link>
		<dc:creator><![CDATA[Sildenafil]]></dc:creator>
		<pubDate>Tue, 09 May 2017 09:37:21 +0000</pubDate>
		<guid isPermaLink="false">http://peconicpediatrics.com/?p=9709#comment-1787</guid>
		<description><![CDATA[Hello! Cool post, amazing!!!]]></description>
		<content:encoded><![CDATA[<p>Hello! Cool post, amazing!!!</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Spotlight: Grace Zehill by Theresa Ventrudo</title>
		<link>http://peconicpediatrics.com/peconic-pediatrics-blog/spotlight-grace-zehill/#comment-1783</link>
		<dc:creator><![CDATA[Theresa Ventrudo]]></dc:creator>
		<pubDate>Fri, 14 Apr 2017 21:16:25 +0000</pubDate>
		<guid isPermaLink="false">http://peconicpediatrics.com/?p=9925#comment-1783</guid>
		<description><![CDATA[Congratulations Grace! Way to go!! We are very happy for you ❤️️]]></description>
		<content:encoded><![CDATA[<p>Congratulations Grace! Way to go!! We are very happy for you ❤️️</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Anjela Contreras by Santos Contreras</title>
		<link>http://peconicpediatrics.com/peconic-pediatrics-blog/anjela-contreras/#comment-1777</link>
		<dc:creator><![CDATA[Santos Contreras]]></dc:creator>
		<pubDate>Sun, 05 Feb 2017 22:36:11 +0000</pubDate>
		<guid isPermaLink="false">http://peconicpediatrics.com/?p=9865#comment-1777</guid>
		<description><![CDATA[I&quot;m proud and happy of what she has done and that God takes care of her and her big heart Congratulations Anjela!]]></description>
		<content:encoded><![CDATA[<p>I&#8221;m proud and happy of what she has done and that God takes care of her and her big heart Congratulations Anjela!</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on 2nd Annual Open Mic Fundraiser by Alison</title>
		<link>http://peconicpediatrics.com/peconic-pediatrics-blog/2nd-annual-open-mic-fundraiser/#comment-1612</link>
		<dc:creator><![CDATA[Alison]]></dc:creator>
		<pubDate>Tue, 04 Oct 2016 14:48:46 +0000</pubDate>
		<guid isPermaLink="false">http://peconicpediatrics.com/?p=9813#comment-1612</guid>
		<description><![CDATA[You&#039;re AWESOME Donna!  Good job, once again!]]></description>
		<content:encoded><![CDATA[<p>You&#8217;re AWESOME Donna!  Good job, once again!</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Peconic Pediatrics Patient Spotlight: Melissa Pressler by AnnMarie Pallister</title>
		<link>http://peconicpediatrics.com/peconic-pediatrics-blog/peconic-pediatrics-patient-spotlight-melissa-pressler/#comment-460</link>
		<dc:creator><![CDATA[AnnMarie Pallister]]></dc:creator>
		<pubDate>Tue, 31 Mar 2015 22:30:41 +0000</pubDate>
		<guid isPermaLink="false">http://peconicpediatrics.com/?p=8835#comment-460</guid>
		<description><![CDATA[Beautiful artwork it us a pleasure to see such young talent with such great ambition. I am sure we will hear Melissa&#039; name connected to artwork for many years to come.]]></description>
		<content:encoded><![CDATA[<p>Beautiful artwork it us a pleasure to see such young talent with such great ambition. I am sure we will hear Melissa&#8217; name connected to artwork for many years to come.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Peconic Pediatrics’ Patient Spotlight: Morgan West by Lee Rasanen</title>
		<link>http://peconicpediatrics.com/peconic-pediatrics-blog/peconic-pediatrics-patient-spotlight-morgan-west/#comment-435</link>
		<dc:creator><![CDATA[Lee Rasanen]]></dc:creator>
		<pubDate>Thu, 05 Feb 2015 17:21:15 +0000</pubDate>
		<guid isPermaLink="false">http://peconicpediatrics.com/?p=8794#comment-435</guid>
		<description><![CDATA[Thanks be to God!!!!]]></description>
		<content:encoded><![CDATA[<p>Thanks be to God!!!!</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Peconic Pediatrics Has Arrived in Southold, NY by LB</title>
		<link>http://peconicpediatrics.com/peconic-pediatrics-blog/peconic-pediatrics-arrived-southold-ny/#comment-343</link>
		<dc:creator><![CDATA[LB]]></dc:creator>
		<pubDate>Mon, 03 Nov 2014 20:45:39 +0000</pubDate>
		<guid isPermaLink="false">http://peconicpediatrics.com/?p=8622#comment-343</guid>
		<description><![CDATA[Dr. Dawn is amazing! 
So sincere, cant wait to see the new office]]></description>
		<content:encoded><![CDATA[<p>Dr. Dawn is amazing!<br />
So sincere, cant wait to see the new office</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Peconic Pediatrics’ Patient Spotlight: Samantha Kerrigan by Samantha</title>
		<link>http://peconicpediatrics.com/peconic-pediatrics-blog/peconic-pediatrics-patient-spotlight-samantha-kerrigan/#comment-328</link>
		<dc:creator><![CDATA[Samantha]]></dc:creator>
		<pubDate>Tue, 28 Oct 2014 02:26:39 +0000</pubDate>
		<guid isPermaLink="false">http://peconicpediatrics.com/?p=8634#comment-328</guid>
		<description><![CDATA[What a beautiful poem!  Please keep writing!  You have such a gift!  Congrats :)]]></description>
		<content:encoded><![CDATA[<p>What a beautiful poem!  Please keep writing!  You have such a gift!  Congrats 🙂</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Peconic Pediatrics Proudly Recognizes Pediatric Nurse Practitioner Michelle Wruck by Ashley Troiano</title>
		<link>http://peconicpediatrics.com/peconic-pediatrics-blog/peconic-pediatrics-proudly-recognizes-pediatric-nurse-practitioner-michelle-wruck/#comment-325</link>
		<dc:creator><![CDATA[Ashley Troiano]]></dc:creator>
		<pubDate>Mon, 27 Oct 2014 14:36:59 +0000</pubDate>
		<guid isPermaLink="false">http://peconicpediatrics.com/?p=8736#comment-325</guid>
		<description><![CDATA[Congratulations, Michelle!!!  Thank you for being such a great care giver!  You have helped us with our son&#039;s asthma which is completely controlled, thanks to you!  We are very grateful to you!! :)]]></description>
		<content:encoded><![CDATA[<p>Congratulations, Michelle!!!  Thank you for being such a great care giver!  You have helped us with our son&#8217;s asthma which is completely controlled, thanks to you!  We are very grateful to you!! 🙂</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Peconic Pediatrics Proudly Recognizes Pediatric Nurse Practitioner Michelle Wruck by Katie Cote</title>
		<link>http://peconicpediatrics.com/peconic-pediatrics-blog/peconic-pediatrics-proudly-recognizes-pediatric-nurse-practitioner-michelle-wruck/#comment-317</link>
		<dc:creator><![CDATA[Katie Cote]]></dc:creator>
		<pubDate>Thu, 23 Oct 2014 17:13:41 +0000</pubDate>
		<guid isPermaLink="false">http://peconicpediatrics.com/?p=8736#comment-317</guid>
		<description><![CDATA[We think Michelle is FANTASTIC!  She helps us understand my sons asthma and how to be proactive and prevent attacks instead of just reacting when they happen.  The time she spends with us explaining everything is priceless.  I don&#039;t know what we would do without her.  She is a gem!]]></description>
		<content:encoded><![CDATA[<p>We think Michelle is FANTASTIC!  She helps us understand my sons asthma and how to be proactive and prevent attacks instead of just reacting when they happen.  The time she spends with us explaining everything is priceless.  I don&#8217;t know what we would do without her.  She is a gem!</p>
]]></content:encoded>
	</item>
</channel>
</rss>
