/*--
	Theme Name: theme45164
	Theme URI: http://template-help.com/
	Description: A theme for Wordpress 3.5.x + from Template-Help.com Collection
	Author: Template_Help.com
	Author URL: http://www.Template-Help.com/
	Template: CherryFramework
	Version: 1.2
	MotoPress Version: 1.0
--*/
/*import CherryFramework style*/
@import url("../CherryFramework/style.css");
@import url(http://fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

/* #General
================================================== */
body {
	@media(max-width:767px){padding-left:0px; padding-right:0px;}
	> .main-holder{
		background: url(images/body.gif) repeat scroll center top #fcfcfc;
		@media(max-width:767px){			
			>.header, >.content-holder, >.footer{
				padding-left:20px;
				padding-right:20px;
			}
		}
	}
}
.content-holder{
	padding-bottom:41px;
}
.home .content-holder{
	padding-bottom:55px;
}
.list ul li a{
	color:@textColor;
	.transition(~"color linear .1s");
	font-weight: bold;
	text-decoration: none;
	&:hover{
		color: @blue;
		text-decoration: none;
	}
}
p{
	margin-bottom: 20px;
}
.thumbnail{
	padding:0;
}
img{
		max-width:100%;
	}
h1,h2,h3,h4,h5{
	text-transform:uppercase;
	@media(max-width:979px){
		>br{
			display:none;
		}
	}
	a{
		.transition(~"color linear .2s");
	}
}
h2{
	margin: 0 0 22px;
}
h3{
	letter-spacing:-0.5px;
}
.home {
	h2{
		padding-top: 5px;
		margin: 0 0 27px;
	}
	h3{
		margin: 0 0 20px;
	}
}


/* #Header
================================================== */
.header{
	background:none;
	border:none;
	padding-top:27px;
	padding-bottom:0;
	> .container{
		padding-bottom:12px;
		border-bottom:1px solid #c5c7b9;		
	}
}
.home .header .container{
	border-bottom:none;
}
.hidden-phone {
	display:block;
	width:100%;
	position:absolute;
	right:0;
	top:0;
	z-index:99;
}
/*/ Header */


/* Logo
---------------------------------------- */
.logo_h p{
	color:#727272;
	font-weight:normal;
	text-transform:lowercase;
	font-size:12px;
	font-family: @asapFontFamily;
	line-height:14px;
	p.logo_tagline{
		color:#727272;
	}
}
.logo_h__img{	
	margin-bottom:-20px;
	margin-left: -1px;
	display:block;
	@media(max-width:979px){
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		margin-bottom:-18px;
	}
	@media(max-width:380px){margin-bottom:-16px;}
}
.logo_h__txt{	
	text-transform:uppercase;
	a:hover,a:active,a:focus{
		color:@black;
		text-decoration:none;
	}
}
.logo {
	@media(min-width:768px) and (max-width:979px){
		width:100%;
		margin-top:20px;
	}
	@media(max-width:480px){width:100%;}
	}

/*/ Logo */


/* #Menu
================================================== */
.header .nav__primary{
	margin-top:58px;
	margin-right:2px;
	@media(max-width:767px){
		margin-top:85px;
		margin-right:0;
	}
}
.nav__primary .sf-menu > li > a{
	padding:0;
	border:none;
	background:none;
	font-family: @asapFontFamily;
	letter-spacing:-0.5px;
	font-weight:bold;
	font-size:13px;
	line-height:16px;
	text-transform:uppercase;
	@media(min-width:1200px){
		font-size:14px;
		letter-spacing:0;
	}	
	@media(max-width:979px){
		font-size:12px;
		letter-spacing:-1px;
	}
	@media(min-width:980px)and(max-width:1199px){
		letter-spacing:-1px;
	}
}
.sf-menu > li > a:hover, .sf-menu > li.sfHover > a, .sf-menu > li.current-menu-item > a {
    color:@blue;
}
.sf-sub-indicator{
	background:url(images/arrows-ffffff.png) no-repeat scroll -10px -100px transparent;
}
.nav__primary .sf-menu > li {
	>a{
		.transition(~"color linear .1s");
			.sf-sub-indicator {
				background-position: 0 -100px;
				top: 20px;
				left:50%;
				margin-left:-3px;
			}
	}
	padding-left:14px;
	margin-left:10px;
	@media(min-width:1200px){
		padding-left:17px;
		margin-left:13px;
	}
	background: url(images/separator.png) no-repeat scroll left center transparent;
	@media(max-width:979px){
		padding-left:9px;
		margin-left:0;
		background: none;		
	}
   
	&:first-child{
		padding-left:0;
		background: none;
	}
	li {
		background-color: #e9ebde;
		border-top:1px solid #f1f3e8;
		&:first-child{
			border-top:none;
		}
		>a{
			border: none;
			color: @textColor;
			.transition(~"color linear .1s");
			&:hover{
				color:@pink;
				background-color:transparent;
			}
			.sf-sub-indicator {
				right: 20px;
				top:50%;
				margin-top:-5px;
			}
		}
		&.current_page_item >a, &.sfHover >a{
			color:@pink;
			background-color:transparent;
		}		
	}
}
.nav__primary >ul > li .sub-menu{
	margin-top:32px;
	padding:5px 4px 10px;
	left:7px;
	border:1px solid #d4d7c5;
	background-color:#e9ebde;
	.sub-menu{
		margin-top:-6px;
		margin-left:4px;
	}
}

/*/ Menu */


/* #Slider
================================================== */
.slider{
	margin-bottom:47px;
}
.camera_loader {
	background-image: url(images/camera-loader.gif);
	background-color:#dfe1d4;
	border-color:#dfe1d4;
}
.camera_caption {
	font-family: @asapFontFamily;
	font-size:21px;
	line-height:25px;
	text-transform:uppercase;
	text-align:center;
	@media(max-width:979px){font-size:15px;}
	@media(max-width:767px){font-size:13px;}	
	>div{
		padding:21px 90px 24px;
		background: url(images/bg_tx_slider.png) repeat 0 0 transparent;
		}
	@media(max-width:480px){
		>div{display:none; background:none; line-height:0;}
	}
	span{
		color:@white;
	}
	a{
		display:inline-block;
		color:@green;
		text-decoration:underline;
		&:hover{
			text-decoration:none;
			color:@pink;
		}
	}	
}
.camera_prev, .camera_next, .camera_commands{
		top:100%;
		margin-top:-51px;
		height: 31px;
		width: 31px;
		border-radius: 100%;
		background-color:@green;
		&:hover{
			background-color:@pink;
		}
		>span{
			height: 31px;
			width: 31px;			
		}
	}
.camera_prev{
	left:15px;
	>span{
		background:url(images/arr_right_slider.png) no-repeat center center transparent;
	}
}
.camera_next{
	right:15px;
	>span{
		background:url(images/arr_left_slider.png) no-repeat center center transparent;
	}
}
.camera_fakehover .camera_commands{
	right:51px;
	>div{
		height: 32px;
		width: 32px;
		background:url(images/camera_skins.png) no-repeat 11px center transparent;
		&.camera_stop{
			background-position: -30px center;
		}
	}
}
/*/ Slider */


/* #Content
================================================== */
#content{
	padding-top:56px;
}
.home #content{
	padding-top:40px;
}
@media(min-width:1200px){
	a img.alignright{margin-left:50px;}
}
.title-section{
	padding-top:34px;
	.title-header{
		margin-bottom:27px;
	}
}
.btn{
	font-family: @asapFontFamily;
}
.btn-warning, .btn-danger, .btn-success, .btn-info, .btn-inverse{
	background:none;
}
.hr{
	background-color:#c5c7b9;
	margin-top:18px;
	margin-bottom:36px;
}
.home .hr{
	margin-top:22px;
	margin-bottom:40px;
}
.spacer {
	height:10px;
}
#back-top a {	
	span{
		background-color: @blue;
		border-radius:100%;
		}
	&:hover span{
		background-color: @pink;
	}
}

div.pp_default .pp_content{
	background-color:#f8f8f8;
}
.list.custom-list {
	overflow:hidden;
	ul{		
		margin-bottom:30px;
	}
}
.list.custom-list ul li
{
	padding-left:16px;
	margin:0 0 11px;
	&:before {
		background-image: url(images/dot.png);
		background-position: 0 0;
		background-repeat: no-repeat;
		content: "";
		height: 9px; width: 8px;
		top: 5px; left: 0;
		position: absolute;
	}
}
.google-map {
    background-image: url(images/loading-map.gif);
	}
.thumbnail a {
	text-decoration:none;
	img {
		font: 13px/20px Arial,Helvetica,sans-serif;
		text-transform: none;
		color: @textColor;		
	}
	&:hover img{
		text-decoration:none;
	}
}

.testimonial{
	background: url(images/tail-comment.png) repeat scroll 0 0 transparent;
	border-color:#d7d8d0;
	small{
		font: bold 13px/20px Arial,Helvetica,sans-serif;
		span{
			color: @textColor;
		}
		a:hover{
			color:@pink;
		}
	}
}
.error404{
	.error404-holder_num{
		color: @blue;
	}
	.search-form .search-form_it{
		margin-right:10px;
		width:196px;
		@media(max-width:360px){
			width:170px;
		}
	}	
}
.faq-list_h{
	font: bold 13px/20px Arial,Helvetica,sans-serif;
	color: @textColor;	
}
.faq-list_body{
	color:@textColor;
}
.faq-list .marker{
	color:@pink;
}
h3.archive_h{
	margin:0 0 20px;
}
/*/ Content */

/* #Portfolio
================================================== */
.filterable-portfolio .portfolio_item{ 
	padding:0 10px 0 20px;
	margin-bottom:36px;
}
.filterable-portfolio{
	margin-left:-20px;
}
.filter-wrapper{
	text-transform: uppercase;
	font: 400 23px/28px Asap;
	letter-spacing:-0.5px;
	@media(max-width:767px){
		font-size: 13px;
		letter-spacing:0;
		.filter a{
			padding-left:17px;
			padding-right:17px;
		}
	}
	@media(max-width:480px){
		.pull-right{
			float:left;
			display:block;
			width:100%;
			strong{
				float:none;
				margin-bottom:12px;
				font-size: 23px;
			}
			.filter li{
				float:left;
				a{
					padding:10px 10px 10px 10px;
					font: 400 13px/16px Arial,Helvetica,sans-serif;
					text-transform:none;
				}
			}
		}
	}
	padding-top:2px;
	margin-bottom:41px;
	strong{
		font-weight: 400;
		color: #3a3a38;
	}
	a{
		color: #3a3a38;
	}
	.nav li.active a, .nav li a:hover{
		color: @white;
		background-color: @green;
	}
}
.filter-wrapper strong{
	padding-top:0;
	padding-bottom:0;
	margin: 10px 17px 10px 0;
}
.pager li > a,
.pager li > span {
	font: 400 17px/20px @asapFontFamily;
	color: @black;
	
}
.pager li > a:hover,
.pager li > a:focus {
	color: @pink;
}
.single-pager{
	border-color:#c5c7b9;
	padding-top:15px;
	padding-bottom:15px;
}
.portfolio-meta-list{
	border-color:#c5c7b9;
}
div.pp_default .pp_gallery ul li a{
	border-color: #c5c7b9;
}
div.pp_default .pp_gallery ul li a:hover, div.pp_default .pp_gallery ul li.selected a {
	border-color: @white;
}
.pagination ul > li.active > a {
	border-color: #dfe1d4;
	color:@white;
}

.filterable-portfolio .image-wrap {
    background: url(images/loading-folio.gif) no-repeat scroll 50% 50% #d4d7c5;
	}
.portfolio_item_holder{
	.thumbnail__portfolio{
		margin-bottom:25px;
	}
	h6{
		margin-top:0;
		margin-bottom:0;
	}
	.excerpt{
		margin-bottom:15px;
	}
}
.single {
	.featured-thumbnail.large{
		margin-bottom:30px;
	}
	.single-pager{
		margin-top:0;
	}
}
.caption__portfolio{
	h6 a{
		color:@textColor;
		&:hover, &:active, &:focus{
			color:@blue;
			text-decoration:none;
		}
	}
}
.single-portfolio {
	.grid_gallery, .jp-video, .jp-audio{
		margin-bottom:30px;
	}
}
/*/ Portfolio */

/* #Posts
================================================== */
.single-post #content, .blog #content{
	> article, > div{
		margin-right:3.85%;
	}
}
.single-post #content{
	.post__holder {
		margin-bottom:17px;
	}
	.share-buttons{
		margin-bottom:29px;
	}	
	
}
.related-posts{
	h2{
		margin-bottom:31px;
	}
	.related-posts_list{
		margin-left:-2.3%;
	}	
	.related-posts_item{
			width:22.5%;
			margin-left:2.3%;
			margin-bottom:18px;
			.featured-thumbnail{
				margin: 0 0 15px;
			}
			a{
				@media(max-width:979px){
					font-size:18px;
					line-height:22px;
				}
				@media(max-width:767px){
					font-size:12px;
					line-height:14px;
				}
				@media(max-width:360px){
					font-size:10px;
					line-height:12px;
				}
			}
	}
}
.post_content {
    padding-bottom: 19px;
}
h2.post-title a{
	color: @black;
	text-decoration:none;
	&:hover{
		color: @blue;
		text-decoration:none;
	}
}
h1.post-title{
	margin-top:0;
	margin-bottom:22px;
}
.post_meta {
	border-color:#c5c7b9;	
	padding-top:15px;
	padding-bottom:14px;
	font-size:13px;
	line-height:20px;
	a:hover{
		color: @blue;
	}
	i{
		color: #b5b5b5;
		font-size:13px;
		line-height:20px;
		margin-right:8px;
	}
	.post_author a{
		color: @textColor;
		&:hover{
			color: @textColor;
		}
	}
	span{
		@media(max-width:979px){
			display:block;
			width:100%;
			padding-right:0;
			margin-bottom:2px;
		}
	}
}
.format-quote .post_meta{
	padding-top:10px;
}
.post-author{
	margin-bottom:22px;
	background: url(images/tail-comment.png) repeat scroll 0 0 transparent;
	border:none;
	padding:15px 21px 24px 30px;
	.post-author_h a{
		color: #3a3a38;
		&:hover{
			color: @blue;
			text-decoration:none;
		}
	}
	.post-author_gravatar{
		margin-top:4px;
		margin-bottom:10px;
		img{
			padding:0;
			border:none;
		}
	}
	.post-author_desc {
		overflow: hidden;
		@media(max-width:360px){
			overflow: visible;
		}
		& , p {margin-bottom:0;}
		.post-author_link{			
			font-weight: bold;
			a{
				color:@textColor;
				text-decoration:none;
				&:hover{
					color:@blue;
					text-decoration:none;
				}	
			}
		}
}
}
.related-posts_item a{
	font: 400 23px/28px @asapFontFamily;	
	text-transform: uppercase;
	color: #3a3a38;
	text-decoration:none;
	&:hover{
		color:@blue;
		text-decoration:none;
		}
}
.related-posts {
	margin-bottom:0;
}
.format-quote blockquote{
	color: @textColor;
	border-color:@green;
}
.flex-control-paging li{ 
	line-height:11px;
	height:11px;
	a{
		background-color:@green;
		&.flex-active, &:hover{
			background-color: @pink;
		}
	}
}
.flexslider {
    background-image: url(images/loading.gif);
}
.single-post .featured-thumbnail.thumbnail.large {
	margin:0 0 26px;
	padding-top:4px;
	img{
		margin:0;
		width:auto;
		max-width:100%;
	}
}
/*/ Posts */


/* #Comments
================================================== */
.comment-list {
	.comment-meta, .reply {
		font-weight: bold;
	}
	.reply a:hover{
		color: @pink;
	}
	.comment-author {
		margin-bottom:10px;
		.author{
			font-weight:normal;
		}
	}
}
.comment-holder {
	margin-bottom:0;
	.comment{ 
		ul.children{
			margin-left:40px;
		}
		.comment-body{	
			padding: 26px 36px 20px 27px;
			background: url(images/tail-comment.png) repeat scroll 0 0 transparent;
			border:none;
			.reply{
				margin-left:33px;
			}
			.comment-author{
				margin-top:4px;
				margin-right:17px;
				.author{
					padding-top:1px;
				}
			}			
		}
		@media(max-width:480px){
				ul.children{
					margin-left:5%;
				}
				.comment-body .extra-wrap{				
					overflow:visible;
				}
			}
	}
}
#respond {
	padding-top:22px;
	h2{
		margin-bottom:31px;
	}
}
.comment-holder{
	overflow: hidden;
}
#commentform p {
	margin-bottom:23px;
	a:hover{
		color:@blue;
	}
}
input, button, select, textarea {
  font: 13px/20px Arial,Helvetica,sans-serif;
}
#commentform input[type="text"]{
	padding:14px 21px;
	height:46px;
	width: 370px;
	max-width:100%;
	@media(min-width:480px)and(max-width:768px){
		width:370px;
	}
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.ie8 #commentform p{
	max-width:100% ;
}
#commentform textarea{
		width:100%;
		max-width:100% ;
		min-width: 100%;	
	@media(max-width:979px){
		width:100%;
		max-width: 100%;
		min-width:  100%;
	}
	@media(min-width:1201px){
		max-width:670px;   
		min-width:670px;
		width:670px;
	}
	min-height: 385px;
	padding: 14px 21px;
	height: 385px;	
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;	
}
.ie8 #commentform textarea{
	min-height: 359px;
	height: 359px;
}
input[type="submit"], .wpcf7-form .submit-wrap input{
	background:none;
	.box-shadow(~"none");
	border:none;
	padding:0;
}

.wpcf7-form p.field input {
    height: 46px;
	padding: 12px 20px;
}
.wpcf7-form textarea{
	padding: 12px 20px;
}
.wpcf7-form span.wpcf7-not-valid-tip{
	padding:13px 20px !important;
	height:46px;
	font: 11px/20px Arial,Helvetica,sans-serif;
	@media(min-width:1200px){
		font-size:13px;
	}
	@media(min-width:768px)and(max-width:1200px){
		font-size:11px;
	}
	@media(max-width:360px){
		font-size:11px;
	}
	@media(min-width:768px)and(max-width:980px){
		padding:13px 7px !important;		
	}
	@media(min-width:480px)and(max-width:767px){
		font-size:13px;		
	}
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	background: url(images/tail-comment.png) repeat scroll 0 0 transparent;
	border:none;
}
/*/ Comments */


/* #Widgets
================================================== */
#sidebar {
	padding-top:56px;
	.widget {
		margin-bottom:63px;
		h3{
			font-size:43px;
			line-height:38px;
			margin-top:0;
			margin-bottom:22px;
		}
	}
}
#sidebar .widget ul {
    list-style-type: none;
    margin: 0;
}

#sidebar .widget ul {
	li {
		background: url(images/dot-sidebar.png) no-repeat scroll 0 8px transparent;
		padding: 0 0 11px 14px;
		a {
			color:@textColor;
			&:hover{
				color:@blue;
				text-decoration:none;
			}
			.transition(~"color linear .1s");
			text-decoration:none;
			font-weight: bold;
			&.btn{
				font-weight: normal;
				color: #3a3a38;
				text-align: left;
				&:hover{
					color:@pink;
				}
			}
					
		}
		h6.post-list_h{
			margin-top:0;
			margin-bottom:23px;
			a:hover{
				color:@pink;
			}
		}		
		.recent{
			overflow:hidden;
			@media(max-width:979px){
				overflow:visible;
			}
			.excerpt{
				margin-bottom:24px;
			}			
		}
	}
	&.unstyled li{
			background: none;
			padding: 0;	
		}
	&.post-list .post-list_li {
	time{
		color: @blue;
		font-weight: bold;
	}
	margin-top:41px;
	&:first-child{
		margin-top:0;
	}
	}
}
.flickr_li .thumbnail{
	display:inline-block;
	border:1px solid #fcfcfc;
	&:hover, &.focus{
		border-color:@textColor;
		.box-shadow(~"none");
	}
}
.social__list {
	.social_label{
		line-height:35px;
		vertical-align:middle !important;
		}
	.social_link, .social_ico{
		vertical-align:middle !important;
	}
}
.tooltip-inner{
		background-color:@blue;
	}
.tooltip-arrow{
	border-top-color:@blue !important;
}
#sidebar {
	.tooltip-inner, .tooltip-arrow{
		display:none !important;
	}
}
#sidebar .page_item .children{
	margin-top:10px;
}
.tagcloud a{
	margin: 0 5px 5px 0;
	padding:5px 12px;
	color:@white;
	text-decoration:none;
	font-size:13px !important;
	background-color:@blue;
	&:hover{
		background-color:@pink;
	}
	display: inline-block;
	
}
.search-form_it {
	margin-right:10px;
}
#wp-calendar {
	thead th{
		background:#d4d7c5;
	}
	#today{
		color:@blue;
	}
}
/*/ Widgets */

/* #Shortcodes
================================================== */
.banner-wrap{ 
	&.banner_page{
		padding-top:5px;
	}
	&.banner_content{
		margin-top:-4px;
	}
	margin-bottom:13px;
	&.banner_content .featured-thumbnail, &.banner_page .featured-thumbnail{
		float:left;
		margin-right:29px;
		padding:0;
		margin-bottom:10px;
	}
	&.banner_page .featured-thumbnail{
		margin-right:19px;
	}
	&.banner_content .featured-thumbnail img{
		width:170px; height:auto;
		
	}
	&.banner_page .featured-thumbnail img{
		width:270px; height:auto;
		
	}
	.featured-thumbnail a{
		border:none;
	}
	
	&.banner_page >div{
		overflow:hidden;
		padding-right:20px;
		@media(max-width:979px){
			overflow:visible;
			padding-right:0;
		}
	}
	h6{
		margin:-5px 0 23px;
		color:#3a3a38;
	}
	&.banner_content h6{
		margin:4px 0 23px;
	}
	&.banner_content .link-align{
		margin-top:4px;
	}
}
.service-box{
	background:none;
	border:none;
	padding:0;
	box-shadow:none;
	.icon{
		margin: 0 18px 10px 0
	}
	.btn-align{
		text-align:left;
	}
	h3 {
		margin-top:12px;
		@media(max-width:979px){font-size:18px;}
		@media(min-width:360px)and(max-width:767px){margin-top:20px;}
	}
	h6{
		margin-top:0;
		margin-bottom:20px;
	}
	.service-box_txt{
		margin-bottom:22px;
	}
	@media(max-width:767px){margin-bottom:35px;}
	.btn-align{
		padding-top:2px;
	}
}
	
.container .posts-grid {
	h2 {
		white-space:pre-wrap;
		padding-top:0;
		@media(max-width:767px){white-space:normal;}
		line-height:41px;
		margin:0 0 18px;
		@media(max-width:979px){font-size:32px;}
	}
	h5{
		letter-spacing:0.5px;
		margin:0 0 6px;
	}
	.thumbnail {
		margin-bottom:17px;
		@media(max-width:767px){margin-right:20px;}
		padding:0;
		a, img, span{
			max-width:100%;
		}
	}
	.excerpt{
		line-height:19px;
		margin-bottom:13px;
	}
	li{
		margin-bottom:27px;
	}
	@media(max-width:767px){
		li {margin-bottom:40px;}
		}	
}

.container .posts-grid .thumbnail, .banner-wrap.banner_content .featured-thumbnail, .banner-wrap.banner_page .featured-thumbnail{
	@media(max-width:480px){
		width:100%;
		margin-right:0;
		float:none;
		a, img{width:100%;}
	}
}
@media(max-width:767px){
	.home .content-holder .span8{
		margin-top:40px;
	}
}

/*/ Shortcodes */



/* #Footer
================================================== */
.footer{	
	background: #c1c2bc;
	border:none;	
	padding:26px 0 16px;
	color:#7f7f7f;
	.footer-text {
		font-family: 'Droid Sans', sans-serif;
		img{
			margin-right:5px;
		}
		a{
			display: inline-block;
		}
		a:hover > img{
			opacity:0.5;
		}
	}
	a{
		color:#7f7f7f;
		&:hover{
			color:@blue;
		}
	}	
	.right {
		@media(max-width:480px){
				text-align:center;
			}
		>div{
			display:inline-block;
			float:right;
			@media(max-width:480px){
				float:none;
				margin-left:0;
				text-align:center;
			}
			margin-left:30px;
			position:relative;		
		}
}
}
.copyright{
	@media(min-width:480px)and(max-width:767px){
		.span6{
			float:left;
			width:50%;
			
		}
	}
}
nav.footer-nav, nav.footer-nav ul{	
	float:left !important;
	@media(min-width:480px)and(max-width:767px){
			display: block !important;
			float:none !important;			
		}
	li{
		padding-left:8px;
		text-align:left;		
	}	
	li:first-child{
		padding-left:0;
	}
	
	li.current-menu-item a, li a:hover{
		color:@white;
		text-decoration:none;
	}
}
.footer .social__row{
	float:right;
	li{
		margin-left:10px;
		&:first-child{
			margin-left:0;
		}
	}
}

/*/ Footer */


/* #Responcive
================================================== */
@media(min-width:768px)and(max-width:1200px){
	h2{font-size:36px !important; line-height:43px !important; letter-spacing:-1px;}
}
@media(min-width:768px)and(max-width:979px){
	.container .posts-grid .thumbnail{
			width:100%;
			a, img{
				width:100%;
			}
		}
}
@media(min-width:481px)and(max-width:767px){
	.img {
		width:180px;
	}	
	.home .posts-grid {
		li.span3{
			margin-left:4%;
			width:46%;
			float:left;
			h2{
				font-size:20px;
			}
		}
	}
	.footer-text{
		text-align:left;
	}
}

@media(max-width:480px){
	.img {
		width:100%;
	}
	.breadcrumb li{	
			font-size:16px;
			&.divider{
				padding: 0 8px;
			}
		}
	h1, h2{font-size:32px !important; line-height:38px !important;}
}

/*/ Responcive */

/* #ie8
================================================== */

.ie8 h2{font-size:36px !important; line-height:43px !important; letter-spacing:-1px;}
.ie8 .posts-grid .featured-thumbnail {width:220px;}
.ie8 .banner-wrap.banner_content .featured-thumbnail ,.ie8 .banner-wrap.banner_content .featured-thumbnail a{width:170px;}
.ie8 .banner-wrap.banner_page .featured-thumbnail ,.ie8 .banner-wrap.banner_page .featured-thumbnail a{width:270px;}

/*/ ie8 */

@import "bootstrap/less/variables.less";
@import "bootstrap/less/mixins.less";