<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Peconic Pediatrics</title>
	<atom:link href="http://peconicpediatrics.com/feed/" rel="self" type="application/rss+xml" />
	<link>http://peconicpediatrics.com</link>
	<description>Riverhead NY - Peconic Pediatrics</description>
	<lastBuildDate>Wed, 28 Jun 2017 14:36:08 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8</generator>
	<item>
		<title>Employee of the Month</title>
		<link>http://peconicpediatrics.com/peconic-pediatrics-blog/employee-of-the-month/</link>
		<comments>http://peconicpediatrics.com/peconic-pediatrics-blog/employee-of-the-month/#respond</comments>
		<pubDate>Fri, 23 Jun 2017 18:53:00 +0000</pubDate>
		<dc:creator><![CDATA[Tanya Doherty]]></dc:creator>
				<category><![CDATA[Peconic Pediatrics - Blog]]></category>

		<guid isPermaLink="false">http://peconicpediatrics.com/?p=9979</guid>
		<description><![CDATA[<p>Peconic Pediatrics values all it's employees.  Once a month, a challenge is held and this month's choice for Employee of the Month is Wally Ramirez.  Wally has been our assistant office manager for approximately a year and half now and does a wonderful job with the staff and patients.  Wally is very involved with Sister Margaret Smyth, the North Fork&#160;<a href="http://peconicpediatrics.com/peconic-pediatrics-blog/employee-of-the-month/" class="read-more">Continue Reading</a></p>
<p>The post <a rel="nofollow" href="http://peconicpediatrics.com/peconic-pediatrics-blog/employee-of-the-month/">Employee of the Month</a> appeared first on <a rel="nofollow" href="http://peconicpediatrics.com">Peconic Pediatrics</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>Peconic Pediatrics values all it's employees.  Once a month, a challenge is held and this month's choice for Employee of the Month is Wally Ramirez.  Wally has been our assistant office manager for approximately a year and half now and does a wonderful job with the staff and patients.  Wally is very involved with Sister Margaret Smyth, the North Fork Spanish Apostolate, and does a lot for the community outreach programs.  Peconic Pediatrics allows the Employee of the Month to choose a charity for a $100 donation made on their behalf and Wally chose the Y.M.C.A because they raise money to send children to go to Summer Camp and she feels it's important that all children have a safe and fun place to spend their summer and shouldn't be limited on whether or not the family can afford it.  Join us in congratulating Wally for a job well done! Thank you Wally!!</p>
<p>&nbsp;</p>
<p>If you know of a charity to be considered for our Peconic gives back program, please apply here:</p>
<p><a href="http://peconicpediatrics.com/about-us/peconic-gives-back/charity-application-form/" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://peconicpediatrics.com/about-us/peconic-gives-back/charity-application-form/&amp;source=gmail&amp;ust=1498328445407000&amp;usg=AFQjCNHkf6hlzPzNtHo1TEB3jri_3cDBLg">http://peconicpediatrics.com/about-us/peconic-gives-back/charity-application-form/</a></p>
<p>&nbsp;</p>
<p>YMCA of Long Island</p>
<p><a href="https://ymcali.org/">https://ymcali.org/</a></p>
<p><a href="http://peconicpediatrics.com/wp-content/uploads/2017/06/long-island-ymca-logo.png"><img class="alignnone size-full wp-image-9980" src="http://peconicpediatrics.com/wp-content/uploads/2017/06/long-island-ymca-logo.png" alt="" width="294" height="232" /></a></p>
<p>The post <a rel="nofollow" href="http://peconicpediatrics.com/peconic-pediatrics-blog/employee-of-the-month/">Employee of the Month</a> appeared first on <a rel="nofollow" href="http://peconicpediatrics.com">Peconic Pediatrics</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://peconicpediatrics.com/peconic-pediatrics-blog/employee-of-the-month/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Comings and Goings at Peconic Pediatrics</title>
		<link>http://peconicpediatrics.com/peconic-pediatrics-blog/comings-goings-peconic-pediatrics/</link>
		<comments>http://peconicpediatrics.com/peconic-pediatrics-blog/comings-goings-peconic-pediatrics/#respond</comments>
		<pubDate>Wed, 07 Jun 2017 16:14:35 +0000</pubDate>
		<dc:creator><![CDATA[Alison Manuel]]></dc:creator>
				<category><![CDATA[Peconic Pediatrics - Blog]]></category>

		<guid isPermaLink="false">http://peconicpediatrics.com/?p=9957</guid>
		<description><![CDATA[<p>We are so pleased to welcome Dr. Thomas Mercier to Peconic Pediatrics in Southold as he spends his last summer with us before retirement.  He has big shoes to fill but we will do our best to care for his families after he transitions to full retirement. A bittersweet farewell to Dawn Dawson as she moves to a long desired&#160;<a href="http://peconicpediatrics.com/peconic-pediatrics-blog/comings-goings-peconic-pediatrics/" class="read-more">Continue Reading</a></p>
<p>The post <a rel="nofollow" href="http://peconicpediatrics.com/peconic-pediatrics-blog/comings-goings-peconic-pediatrics/">Comings and Goings at Peconic Pediatrics</a> appeared first on <a rel="nofollow" href="http://peconicpediatrics.com">Peconic Pediatrics</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://peconicpediatrics.com/wp-content/uploads/2017/06/Dr.-Mercier.jpg"><img class="alignnone wp-image-9958" src="http://peconicpediatrics.com/wp-content/uploads/2017/06/Dr.-Mercier-768x1024.jpg" alt="" width="525" height="700" srcset="http://peconicpediatrics.com/wp-content/uploads/2017/06/Dr.-Mercier-768x1024.jpg 768w, http://peconicpediatrics.com/wp-content/uploads/2017/06/Dr.-Mercier-225x300.jpg 225w, http://peconicpediatrics.com/wp-content/uploads/2017/06/Dr.-Mercier.jpg 1536w" sizes="(max-width: 525px) 100vw, 525px" /></a></p>
<p>We are so pleased to welcome Dr. Thomas Mercier to Peconic Pediatrics in Southold as he spends his last summer with us before retirement.  He has big shoes to fill but we will do our best to care for his families after he transitions to full retirement.</p>
<p>A bittersweet farewell to Dawn Dawson as she moves to a long desired position in the pediatric hematology/oncology division at Stony Brook Children’s.  We hope our families will not need her services but for those who do, they will be in great hands.</p>
<p>Finally, we are excited to welcome a new pediatrician to Peconic Riverhead and Southold this September.  Dr. Sonya Palathumpat  is a general pediatrician  with fellowship training in sports medicine.</p>
<p>Keep an eye on Facebook where we will post our office hour changes as we work through these transitions.    Have a great summer and don’t forget your sunblock.</p>
<p>&nbsp;</p>
<div id="attachment_9961" style="width: 193px" class="wp-caption alignnone"><a href="http://peconicpediatrics.com/wp-content/uploads/2017/06/Dawn-11.2016-Cropped.jpg"><img class="wp-image-9961 size-medium" src="http://peconicpediatrics.com/wp-content/uploads/2017/06/Dawn-11.2016-Cropped-183x300.jpg" alt="Dawn Dawson" width="183" height="300" srcset="http://peconicpediatrics.com/wp-content/uploads/2017/06/Dawn-11.2016-Cropped-183x300.jpg 183w, http://peconicpediatrics.com/wp-content/uploads/2017/06/Dawn-11.2016-Cropped-768x1257.jpg 768w, http://peconicpediatrics.com/wp-content/uploads/2017/06/Dawn-11.2016-Cropped-625x1024.jpg 625w, http://peconicpediatrics.com/wp-content/uploads/2017/06/Dawn-11.2016-Cropped.jpg 1053w" sizes="(max-width: 183px) 100vw, 183px" /></a><p class="wp-caption-text">Dawn Dawson</p></div>
<div id="attachment_9975" style="width: 310px" class="wp-caption alignnone"><a href="http://peconicpediatrics.com/wp-content/uploads/2017/06/Dr.-Ps-picture.jpg"><img class="wp-image-9975 size-medium" src="http://peconicpediatrics.com/wp-content/uploads/2017/06/Dr.-Ps-picture-300x300.jpg" alt="" width="300" height="300" srcset="http://peconicpediatrics.com/wp-content/uploads/2017/06/Dr.-Ps-picture-300x300.jpg 300w, http://peconicpediatrics.com/wp-content/uploads/2017/06/Dr.-Ps-picture-150x150.jpg 150w, http://peconicpediatrics.com/wp-content/uploads/2017/06/Dr.-Ps-picture-768x768.jpg 768w, http://peconicpediatrics.com/wp-content/uploads/2017/06/Dr.-Ps-picture-1024x1024.jpg 1024w, http://peconicpediatrics.com/wp-content/uploads/2017/06/Dr.-Ps-picture.jpg 1120w" sizes="(max-width: 300px) 100vw, 300px" /></a><p class="wp-caption-text">Dr. Sonya Palathumpat</p></div>
<p>The post <a rel="nofollow" href="http://peconicpediatrics.com/peconic-pediatrics-blog/comings-goings-peconic-pediatrics/">Comings and Goings at Peconic Pediatrics</a> appeared first on <a rel="nofollow" href="http://peconicpediatrics.com">Peconic Pediatrics</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://peconicpediatrics.com/peconic-pediatrics-blog/comings-goings-peconic-pediatrics/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Spotlight: Amanda Graziano</title>
		<link>http://peconicpediatrics.com/peconic-pediatrics-blog/spotlight-amanda-graziano/</link>
		<comments>http://peconicpediatrics.com/peconic-pediatrics-blog/spotlight-amanda-graziano/#respond</comments>
		<pubDate>Wed, 10 May 2017 14:28:46 +0000</pubDate>
		<dc:creator><![CDATA[Peconic Pediatrics]]></dc:creator>
				<category><![CDATA[Peconic Pediatrics - Blog]]></category>

		<guid isPermaLink="false">http://peconicpediatrics.com/?p=9944</guid>
		<description><![CDATA[<p>This month's patient spotlight shines brightly on Amanda Graziano. Amanda graduated from Riverhead High School in 2013. After graduation, she spent her first 2 years at Mercy College in Ardsley, NY. She then transferred to SUNY Oneonta where she finished her last 2 years. She is graduating with a BS in Sociology on Saturday, May 13, 2017 and has applied&#160;<a href="http://peconicpediatrics.com/peconic-pediatrics-blog/spotlight-amanda-graziano/" class="read-more">Continue Reading</a></p>
<p>The post <a rel="nofollow" href="http://peconicpediatrics.com/peconic-pediatrics-blog/spotlight-amanda-graziano/">Spotlight: Amanda Graziano</a> appeared first on <a rel="nofollow" href="http://peconicpediatrics.com">Peconic Pediatrics</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>This month's patient spotlight shines brightly on Amanda Graziano.  Amanda graduated from Riverhead High School in 2013.  After graduation, she spent her first 2 years at Mercy College in Ardsley, NY.  She then transferred to SUNY Oneonta where she finished her last 2 years. She is graduating with a BS in Sociology on Saturday, May 13, 2017 and has applied to several schools for graduate school. Amanda plans to study for the next 2 years to receive her Masters in Education. She has worked many years as a camp counselor for the Riverhead Recreation Department and loves to work with kids. Her goal is to someday be able to teach and maybe also Coach a team. Amanda has enjoyed a career in softball throughout College, but academics has always come first.</p>
<p>Amanda was named to the Dean's List at SUNY Oneonta all the while balancing a full-time sport schedule. Amanda played softball for the Mercy College Mavericks for 2 years and for the last 2 years for the SUNY Oneonta Red Dragons. This year, in her Senior Year, she was named the SUNYAC (State University of New York Athletic Conference) Pitcher of the Week on March 13th for her play the previous week at pre-season in Florida. Amanda had her best season to date to finish her career - out of a field of over 30 pitchers, she was #10 in wins, #10 in ERA, #15 in strikeouts and #2 in lowest number of walks. She helped her team to the SUNYAC playoff tournament where Oneonta was seeded 6th and won their way all the way to the Championship game where they eventually fell short. It was a great season and a spectacular end to her career she started way back 16 years ago in the Riverhead Little League. Amanda enjoys music and is a fan of all sports, loves spending time with her dogs, taking walks on the beach and particularly loves sunsets.</p>
<p>Congratulations Amanda and best wishes for a future filled with success, love and many, many more sunsets.</p>
<p>The post <a rel="nofollow" href="http://peconicpediatrics.com/peconic-pediatrics-blog/spotlight-amanda-graziano/">Spotlight: Amanda Graziano</a> appeared first on <a rel="nofollow" href="http://peconicpediatrics.com">Peconic Pediatrics</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://peconicpediatrics.com/peconic-pediatrics-blog/spotlight-amanda-graziano/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Spotlight: Grace Zehill</title>
		<link>http://peconicpediatrics.com/peconic-pediatrics-blog/spotlight-grace-zehill/</link>
		<comments>http://peconicpediatrics.com/peconic-pediatrics-blog/spotlight-grace-zehill/#comments</comments>
		<pubDate>Tue, 11 Apr 2017 14:19:24 +0000</pubDate>
		<dc:creator><![CDATA[Peconic Pediatrics]]></dc:creator>
				<category><![CDATA[Peconic Pediatrics - Blog]]></category>

		<guid isPermaLink="false">http://peconicpediatrics.com/?p=9925</guid>
		<description><![CDATA[<p>Ten year old Grace Zehill of Southold had the opportunity to participate in the Iron Chef Jr. competition held on March 18 at the Lake Grove Whole Foods Market. The purpose of this event, besides having fun and cooking delicious food, is to encourage youth to learn new skills in cooking that will lead to a healthier lifestyles. The competition&#160;<a href="http://peconicpediatrics.com/peconic-pediatrics-blog/spotlight-grace-zehill/" class="read-more">Continue Reading</a></p>
<p>The post <a rel="nofollow" href="http://peconicpediatrics.com/peconic-pediatrics-blog/spotlight-grace-zehill/">Spotlight: Grace Zehill</a> appeared first on <a rel="nofollow" href="http://peconicpediatrics.com">Peconic Pediatrics</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>Ten year old Grace Zehill of Southold had the opportunity to participate in the Iron Chef Jr. competition held on March 18 at the Lake Grove Whole Foods Market.  The purpose of this event, besides having fun and cooking delicious food, is to encourage youth to learn new skills in cooking that will lead to a healthier lifestyles.  The competition also promotes the use of local food to help support our local farmers and environment and create new, healthy, vegetarian or vegan based recipes that use local ingredients and can be easily implemented into school cafeteria menus.  Iron Chef Jr. is sponsored by Cornell Cooperative Extension of Suffolk County.</p>
<p>Grace attends Southold schools where she is a 5th grader.  She enjoys playing tennis, lacrosse and soccer and when you can't find her on the field, she's in the kitchen cooking and mixing up recipes with local produce for her family and friends.  Grace also participates with the Southold Schools community garden and this past summer she participated in a competition with her dad Charlie where they won 3rd place for "NoFo Sauce Boss" at Jason's Vineyard. </p>
<p>Although participants in Iron Chef Jr. needed to be enrolled in junior high school, Grace was able to show off her cooking skills by doing a demonstration and tasting of a lemon orzo salad.  It was a hit!  Grace hopes to compete in the future not only on Iron Chef Jr. but also on the broadcast television show Iron Chef.  With her love of food, cooking and living on Long Island and having close proximity and access to locally grown foods, we see an up and coming winning chef in the future! Congratulations Grace and keep up the great work. </p>
<p><img src="http://peconicpediatrics.com/wp-content/uploads/2017/04/peconic-pediatrics-grace-2-225x300.jpg" alt="" width="225" height="300" class="alignleft size-medium wp-image-9932" srcset="http://peconicpediatrics.com/wp-content/uploads/2017/04/peconic-pediatrics-grace-2-225x300.jpg 225w, http://peconicpediatrics.com/wp-content/uploads/2017/04/peconic-pediatrics-grace-2.jpg 480w" sizes="(max-width: 225px) 100vw, 225px" /></p>
<p><img src="http://peconicpediatrics.com/wp-content/uploads/2017/04/peconic-pediatrics-grace-3-225x300.jpg" alt="" width="225" height="300" class="alignleft size-medium wp-image-9933" srcset="http://peconicpediatrics.com/wp-content/uploads/2017/04/peconic-pediatrics-grace-3-225x300.jpg 225w, http://peconicpediatrics.com/wp-content/uploads/2017/04/peconic-pediatrics-grace-3.jpg 480w" sizes="(max-width: 225px) 100vw, 225px" /></p>
<p><img src="http://peconicpediatrics.com/wp-content/uploads/2017/04/peconic-pediatrics-grace-4-e1492011838864-225x300.jpg" alt="" width="225" height="300" class="alignleft size-medium wp-image-9934" srcset="http://peconicpediatrics.com/wp-content/uploads/2017/04/peconic-pediatrics-grace-4-e1492011838864-225x300.jpg 225w, http://peconicpediatrics.com/wp-content/uploads/2017/04/peconic-pediatrics-grace-4-e1492011838864.jpg 480w" sizes="(max-width: 225px) 100vw, 225px" /></p>
<p><img src="http://peconicpediatrics.com/wp-content/uploads/2017/04/peconic-pediatrics-grace-5-e1492011848186-225x300.jpg" alt="" width="225" height="300" class="alignleft size-medium wp-image-9935" srcset="http://peconicpediatrics.com/wp-content/uploads/2017/04/peconic-pediatrics-grace-5-e1492011848186-225x300.jpg 225w, http://peconicpediatrics.com/wp-content/uploads/2017/04/peconic-pediatrics-grace-5-e1492011848186.jpg 480w" sizes="(max-width: 225px) 100vw, 225px" /></p>
<p>The post <a rel="nofollow" href="http://peconicpediatrics.com/peconic-pediatrics-blog/spotlight-grace-zehill/">Spotlight: Grace Zehill</a> appeared first on <a rel="nofollow" href="http://peconicpediatrics.com">Peconic Pediatrics</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://peconicpediatrics.com/peconic-pediatrics-blog/spotlight-grace-zehill/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>Anjela Contreras</title>
		<link>http://peconicpediatrics.com/peconic-pediatrics-blog/anjela-contreras/</link>
		<comments>http://peconicpediatrics.com/peconic-pediatrics-blog/anjela-contreras/#comments</comments>
		<pubDate>Wed, 04 Jan 2017 22:33:05 +0000</pubDate>
		<dc:creator><![CDATA[Peconic Pediatrics]]></dc:creator>
				<category><![CDATA[Peconic Pediatrics - Blog]]></category>

		<guid isPermaLink="false">http://peconicpediatrics.com/?p=9865</guid>
		<description><![CDATA[<p>Anjela Contreras is a second grader at South Street School in Manorville. Earlier this year, she saw a video on YouTube of a girl her age cutting and donating her hair to make wigs for kids with cancer, and was inspired to do the same. In June, she visited the office and was partnered with Donna, our receptionist, who had&#160;<a href="http://peconicpediatrics.com/peconic-pediatrics-blog/anjela-contreras/" class="read-more">Continue Reading</a></p>
<p>The post <a rel="nofollow" href="http://peconicpediatrics.com/peconic-pediatrics-blog/anjela-contreras/">Anjela Contreras</a> appeared first on <a rel="nofollow" href="http://peconicpediatrics.com">Peconic Pediatrics</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>Anjela Contreras is a second grader at South Street School in Manorville. Earlier this year, she saw a video on YouTube of a girl her age cutting and donating her hair to make wigs for kids with cancer, and was inspired to do the same. </p>
<p>In June, she visited the office and was partnered with Donna, our receptionist, who had recently donated her own hair for children experiencing hair loss as a result of cancer or other health issues. At her most recent visit, Anjela returned with a beautiful short haircut and two long ponytails measuring in at 14" each!  The hair donations are being sent to Wigs for Kids, who affirm in their organization's mission statement "Children shouldn't have to worry about how they look, especially when they're in the middle of a health crisis." Wigs for Kids does not charge the patient or their family for the child's wig, and relies on the generosity of people like Anjela to donate hair or money to the organization. Anjela's sister, Melva, plans to do the same in the near future.</p>
<p>Great job Anjela, we are very proud of you! </p>
<p>The post <a rel="nofollow" href="http://peconicpediatrics.com/peconic-pediatrics-blog/anjela-contreras/">Anjela Contreras</a> appeared first on <a rel="nofollow" href="http://peconicpediatrics.com">Peconic Pediatrics</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://peconicpediatrics.com/peconic-pediatrics-blog/anjela-contreras/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>The Tardif Brothers</title>
		<link>http://peconicpediatrics.com/peconic-pediatrics-blog/tardif-brothers/</link>
		<comments>http://peconicpediatrics.com/peconic-pediatrics-blog/tardif-brothers/#respond</comments>
		<pubDate>Wed, 19 Oct 2016 20:33:40 +0000</pubDate>
		<dc:creator><![CDATA[Peconic Pediatrics]]></dc:creator>
				<category><![CDATA[Peconic Pediatrics - Blog]]></category>

		<guid isPermaLink="false">http://peconicpediatrics.com/?p=9834</guid>
		<description><![CDATA[<p>We’re proud of these two brothers, Joe and John Tardif, who are patients at Peconic Pediatrics, for showing all of us what brotherly love is all about. The bond that these two share is truly special and an example for all. Joe and John shared their story with Newsday. Read more.</p>
<p>The post <a rel="nofollow" href="http://peconicpediatrics.com/peconic-pediatrics-blog/tardif-brothers/">The Tardif Brothers</a> appeared first on <a rel="nofollow" href="http://peconicpediatrics.com">Peconic Pediatrics</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>We’re proud of these two brothers, Joe and John Tardif, who are patients at Peconic Pediatrics, for showing all of us what brotherly love is all about. The bond that these two share is truly special and an example for all.</p>
<p>Joe and John shared their story with Newsday. <a href="http://www.newsday.com/sports/high-school/baseball/brothers-joe-and-john-tardif-along-with-their-family-a-winning-team-1.11864531" target="_blank">Read more.</a> </p>
<p>The post <a rel="nofollow" href="http://peconicpediatrics.com/peconic-pediatrics-blog/tardif-brothers/">The Tardif Brothers</a> appeared first on <a rel="nofollow" href="http://peconicpediatrics.com">Peconic Pediatrics</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://peconicpediatrics.com/peconic-pediatrics-blog/tardif-brothers/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>2nd Annual Open Mic Fundraiser</title>
		<link>http://peconicpediatrics.com/peconic-pediatrics-blog/2nd-annual-open-mic-fundraiser/</link>
		<comments>http://peconicpediatrics.com/peconic-pediatrics-blog/2nd-annual-open-mic-fundraiser/#comments</comments>
		<pubDate>Mon, 03 Oct 2016 21:08:43 +0000</pubDate>
		<dc:creator><![CDATA[Peconic Pediatrics]]></dc:creator>
				<category><![CDATA[Peconic Pediatrics - Blog]]></category>

		<guid isPermaLink="false">http://peconicpediatrics.com/?p=9813</guid>
		<description><![CDATA[<p>Our receptionist, Donna Butler, recently hosted the 2nd Annual Open Mic Fundraiser to benefit the American Foundation for Suicide Prevention. The fun event was held at Four Doors Down in Mattatuck on Thursday, September 22nd, and featured live music from local musicians, a Chinese auction and great friends! Proceeds from this fun event supported the team Friends and Family of&#160;<a href="http://peconicpediatrics.com/peconic-pediatrics-blog/2nd-annual-open-mic-fundraiser/" class="read-more">Continue Reading</a></p>
<p>The post <a rel="nofollow" href="http://peconicpediatrics.com/peconic-pediatrics-blog/2nd-annual-open-mic-fundraiser/">2nd Annual Open Mic Fundraiser</a> appeared first on <a rel="nofollow" href="http://peconicpediatrics.com">Peconic Pediatrics</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>Our receptionist, Donna Butler, recently hosted the 2nd Annual Open Mic Fundraiser to benefit the American Foundation for Suicide Prevention. The fun event was held at Four Doors Down in Mattatuck on Thursday, September 22nd, and featured live music from local musicians, a Chinese auction and great friends! Proceeds from this fun event supported the team Friends and Family of Jonathan Pratt.</p>
<p>After the fundraiser on Thursday, September 22nd (which raised just over $1,000), Donna traveled to Saratoga, NY to participate in the Out of the Darkness Walk for R.I.T.A., walking with the team "The Friends and Family of Jonathan Pratt." She has been attending annually since Jon's death in 2009. This year, the team collectively raised over $2,000, and donations are still coming in! All proceeds to the AFSP go toward their goal to reduce the suicide rate 20% by the year 2025. Donna wants to express her gratitude to all of the local businesses and individuals who made the second-annual open mic fundraiser such a success. Next year's will be even bigger and better!</p>
<p><img src="http://peconicpediatrics.com/wp-content/uploads/2016/10/peconic-pediatrics-open-mic-5-150x150.jpg" alt="peconic-pediatrics-open-mic-5" width="150" height="150" class="alignleft size-thumbnail wp-image-9820" /></p>
<p><img src="http://peconicpediatrics.com/wp-content/uploads/2016/10/peconic-pediatrics-open-mic-4-150x150.jpg" alt="peconic-pediatrics-open-mic-4" width="150" height="150" class="alignleft size-thumbnail wp-image-9821" /></p>
<p><img src="http://peconicpediatrics.com/wp-content/uploads/2016/10/peconic-pediatrics-open-mic-3-150x150.jpg" alt="peconic-pediatrics-open-mic-3" width="150" height="150" class="alignleft size-thumbnail wp-image-9822" /></p>
<p><img src="http://peconicpediatrics.com/wp-content/uploads/2016/10/peconic-pediatrics-open-mic-2-150x150.jpg" alt="peconic-pediatrics-open-mic-2" width="150" height="150" class="alignleft size-thumbnail wp-image-9823" /></p>
<p><img src="http://peconicpediatrics.com/wp-content/uploads/2016/10/peconic-pediatrics-open-mic-1-150x150.jpg" alt="peconic-pediatrics-open-mic-1" width="150" height="150" class="alignleft size-thumbnail wp-image-9824" /></p>
<p>The post <a rel="nofollow" href="http://peconicpediatrics.com/peconic-pediatrics-blog/2nd-annual-open-mic-fundraiser/">2nd Annual Open Mic Fundraiser</a> appeared first on <a rel="nofollow" href="http://peconicpediatrics.com">Peconic Pediatrics</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://peconicpediatrics.com/peconic-pediatrics-blog/2nd-annual-open-mic-fundraiser/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>Peconic Patient Spotlight Cynthia Redmond</title>
		<link>http://peconicpediatrics.com/peconic-pediatrics-blog/peconic-patient-spotlight-cynthia-redmond/</link>
		<comments>http://peconicpediatrics.com/peconic-pediatrics-blog/peconic-patient-spotlight-cynthia-redmond/#respond</comments>
		<pubDate>Mon, 08 Aug 2016 17:49:56 +0000</pubDate>
		<dc:creator><![CDATA[Peconic Pediatrics]]></dc:creator>
				<category><![CDATA[Peconic Pediatrics - Blog]]></category>

		<guid isPermaLink="false">http://peconicpediatrics.com/?p=9744</guid>
		<description><![CDATA[<p>During my son's well visit at Peconic Pediatrics, Dr. Meah asked my ten-year old son if his parents have talked to him about drugs and alcohol. Some parents might be startled or perhaps even offended by this question. As someone who works for a drug and alcohol prevention agency, I wanted to hug my son's doctor. This wasn't a moral&#160;<a href="http://peconicpediatrics.com/peconic-pediatrics-blog/peconic-patient-spotlight-cynthia-redmond/" class="read-more">Continue Reading</a></p>
<p>The post <a rel="nofollow" href="http://peconicpediatrics.com/peconic-pediatrics-blog/peconic-patient-spotlight-cynthia-redmond/">Peconic Patient Spotlight Cynthia Redmond</a> appeared first on <a rel="nofollow" href="http://peconicpediatrics.com">Peconic Pediatrics</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>During my son's well visit at Peconic Pediatrics, Dr. Meah asked my ten-year old son if his parents have talked to him about drugs and alcohol. Some parents might be startled or perhaps even offended by this question. As someone who works for a drug and alcohol prevention agency, I wanted to hug my son's doctor. This wasn't a moral question or suspicion of my parenting skills; it was the beginning of an important, ongoing conversation between my son and his healthcare provider about his health. </p>
<p>The reality is that the use of alcohol, drugs, and tobacco can have profound, lifelong effects on the health of youth. Regular marijuana use has been linked to cognitive decline, poor attention and memory, diminished IQ and exacerbates underlying mental health issues. Underage drinking puts young people at risk for injury, physical and sexual assault, car accidents, and unprotected sex. Research has shown that teens that begin using alcohol before the age of 15 are seven times more likely to develop alcohol dependence later in life. Youth who experiment with highly addictive prescription drugs often find themselves seeking heroin to satisfy their addiction when the pills inevitably run out. </p>
<p>One might ask "Isn't age 10 a little young to be talking about drugs and alcohol?" </p>
<p>In New York State, one-third of thirteen-year olds have tried alcohol. According to the 2014-2015 New York State OASAS Youth Development Survey, Suffolk County youth who use marijuana report that, on average, they began smoking pot at age fourteen. On a national level, prescription drugs are now the most commonly abused drugs among 12 and 13-year olds according to Partnership for Drug-Free Kids. </p>
<p>Starting the conversation about the risks and consequences of drug and alcohol at a young age is one of the most effective ways to prevent substance abuse. Children between the ages of 9-11 are still emotionally dependent upon their parents. As such, parents are their primary role models and children are more receptive to these types of conversations with their parents. Despite the fact that youth identify more with their peers as they enter the teen years, research shows that throughout adolescence, parents remain the number one influence on their children when children are making decisions about alcohol and drug use. </p>
<p>Drug and alcohol discussions with youth are much like the use of sunscreen. On a hot, sunny day, you wouldn't apply sunscreen once and assume your child is safe for rest of the day because we all know that protecting your child from the sun requires multiple applications of sunblock. Protecting your child from substance abuse requires multiple, ongoing conversations about the dangers of alcohol and drugs, conveying your expectations of them, ways to handle peer pressure and exit strategies if your child is in a situation where they might feel compelled to use alcohol or drugs. </p>
<p>The good news is that there are many resources available to help parents. Your healthcare provider should address substance use during well visits to provide information, to assess if your child is using drugs, alcohol, or tobacco and to make appropriate referrals for treatment, if necessary. </p>
<p>That said, prevention does begin with parents. Talk early and talk often. </p>
<p>For more information and resources, visit RiverheadCAP.org. </p>
<p><strong>Submitted By:<br />
Cynthia Redmond<br />
Community Prevention Specialist & Mom</strong></p>
<p><a href="http://peconicpediatrics.com/wp-content/uploads/2016/08/peconic-spotlight-checklist.png"><img src="http://peconicpediatrics.com/wp-content/uploads/2016/08/peconic-spotlight-checklist-128x300.png" alt="peconic-spotlight-checklist" width="128" height="300" class="alignleft size-medium wp-image-9746" srcset="http://peconicpediatrics.com/wp-content/uploads/2016/08/peconic-spotlight-checklist-128x300.png 128w, http://peconicpediatrics.com/wp-content/uploads/2016/08/peconic-spotlight-checklist-438x1024.png 438w, http://peconicpediatrics.com/wp-content/uploads/2016/08/peconic-spotlight-checklist.png 600w" sizes="(max-width: 128px) 100vw, 128px" /></a></p>
<p>The post <a rel="nofollow" href="http://peconicpediatrics.com/peconic-pediatrics-blog/peconic-patient-spotlight-cynthia-redmond/">Peconic Patient Spotlight Cynthia Redmond</a> appeared first on <a rel="nofollow" href="http://peconicpediatrics.com">Peconic Pediatrics</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://peconicpediatrics.com/peconic-pediatrics-blog/peconic-patient-spotlight-cynthia-redmond/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>May is Asthma Awareness Month</title>
		<link>http://peconicpediatrics.com/peconic-pediatrics-blog/may-asthma-awareness-month/</link>
		<comments>http://peconicpediatrics.com/peconic-pediatrics-blog/may-asthma-awareness-month/#respond</comments>
		<pubDate>Wed, 18 May 2016 20:59:27 +0000</pubDate>
		<dc:creator><![CDATA[Peconic Pediatrics]]></dc:creator>
				<category><![CDATA[Peconic Pediatrics - Blog]]></category>

		<guid isPermaLink="false">http://peconicpediatrics.com/?p=9717</guid>
		<description><![CDATA[<p>May is ASTHMA awareness month because there has been an alarming increase in cases across the nation. The latest CDC statistics report that Asthma affects more than 25.9 million people of all ages and races (7.1 million children) in this nation yet public awareness of common Asthma triggers and effective Asthma management strategies remains limited. Asthma prevalence is higher among&#160;<a href="http://peconicpediatrics.com/peconic-pediatrics-blog/may-asthma-awareness-month/" class="read-more">Continue Reading</a></p>
<p>The post <a rel="nofollow" href="http://peconicpediatrics.com/peconic-pediatrics-blog/may-asthma-awareness-month/">May is Asthma Awareness Month</a> appeared first on <a rel="nofollow" href="http://peconicpediatrics.com">Peconic Pediatrics</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>May is ASTHMA awareness month because there has been an alarming increase in cases<br />
across the nation.   The latest CDC statistics report that Asthma affects more than 25.9<br />
million people of all ages and races (7.1 million children) in this nation yet public<br />
awareness of common Asthma triggers and effective Asthma management strategies<br />
remains limited.  Asthma prevalence is higher among lower socio-economic groups.<br />
Asthma accounts for more than 15 million office visits and 2 million ER visits annually.<br />
Asthma is THE most common serious chronic disease of Childhood and is the 3rd ranking<br />
cause of hospitalizations among children under 15 years old.  An average of one in every 10<br />
school-aged children nationally has Asthma and in certain LI communities that rate is one<br />
in 8 with many associated school-absences.  The annual estimated economic cost of Asthma<br />
is in the many billions.  There are known indoor and outdoor environmental factors, which<br />
trigger an Asthma attack.   Knowing what those triggers are and avoiding them can lessen<br />
attacks.  The most important message is that Asthma CAN BE controlled.  Having a medical<br />
treatment plan (called an Asthma Action Plan or AAP) can prevent ER visits and<br />
hospitalizations.</p>
<p>The two most common misunderstandings are that 1) once feeling better, medicine may no<br />
longer be needed and 2) not knowing what environmental factors trigger an Asthma attack<br />
leaves one a victim of those triggers.  The main objective with Asthma management is to<br />
achieve CONTROL.  Responding to the medicine misunderstanding, there are two types of<br />
Asthma medicines: 1) CONTROLLERS which are used just for that purpose, to control the<br />
Asthma symptoms even when feeling well during one’s “trigger” seasons and 2) the RAPID<br />
RELIEF/RESCUE medicines which address only Asthma attacks.  If the Rapid Relief<br />
(Albuterol) medicines are used more than 2 times in a week while awake or are needed<br />
more than 2 times per month because of night awakening, then this level of use indicates<br />
that your Asthma is NoT well-controlled.  When Asthma is not well-controlled then the risk<br />
of severity increases because the airway swelling is worsening and stronger additional<br />
medicines may be needed to get control quickly before a hospitalization is necessary.<br />
As for learning about triggers, allergy testing can give more information.  Additionally,<br />
there is a free ALA (American Lung Association) phone app called STATE OF THE AIR which<br />
will inform daily, based upon the zip code entered, which triggers and at what levels they<br />
are in your location.  There are many FREE educational materials available from both the<br />
EPA (Environmental Protection Agency) and the CDC (Centers for Disease Control) in<br />
several languages.</p>
<p>The great news is that Asthma is a very controllable chronic illness and doesn’t have to<br />
disable or sideline anyone IF managed early in life.  There are many olympic and even<br />
professional athletes who have persistent or intermittent Asthma yet they are champions.<br />
If Asthma is allowed to progress unmanaged, it can lead to a form of chronic lung disease<br />
which IS disabling.  Learn more to get CONTROL of your ASTHMA.</p>
<p>The post <a rel="nofollow" href="http://peconicpediatrics.com/peconic-pediatrics-blog/may-asthma-awareness-month/">May is Asthma Awareness Month</a> appeared first on <a rel="nofollow" href="http://peconicpediatrics.com">Peconic Pediatrics</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://peconicpediatrics.com/peconic-pediatrics-blog/may-asthma-awareness-month/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Spotlight: Rock For Reilly</title>
		<link>http://peconicpediatrics.com/peconic-pediatrics-blog/spotlight-rock-for-reilly/</link>
		<comments>http://peconicpediatrics.com/peconic-pediatrics-blog/spotlight-rock-for-reilly/#comments</comments>
		<pubDate>Fri, 13 May 2016 19:55:32 +0000</pubDate>
		<dc:creator><![CDATA[Peconic Pediatrics]]></dc:creator>
				<category><![CDATA[Peconic Pediatrics - Blog]]></category>

		<guid isPermaLink="false">http://peconicpediatrics.com/?p=9709</guid>
		<description><![CDATA[<p>Donna Butler, receptionist at Peconic Pediatrics in Riverhead, is hosting a fundraiser at the end of May for brain tumor awareness. The inspiration for this event is her youngest sister, Reilly, who had a brain tumor removed in early March and is going through a rigorous course of chemotherapy and radiation. Reilly is currently being treated at DanceBlue in Kentucky,&#160;<a href="http://peconicpediatrics.com/peconic-pediatrics-blog/spotlight-rock-for-reilly/" class="read-more">Continue Reading</a></p>
<p>The post <a rel="nofollow" href="http://peconicpediatrics.com/peconic-pediatrics-blog/spotlight-rock-for-reilly/">Spotlight: Rock For Reilly</a> appeared first on <a rel="nofollow" href="http://peconicpediatrics.com">Peconic Pediatrics</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><img src="http://peconicpediatrics.com/wp-content/uploads/2014/07/donna-and-reilly-peconic-pediatrics-2.jpg" alt="Peconic Pediatrics celebrates Sam's Heroes in this month's Spotlight!" width="300" height="191" class="alignleft size-medium wp-image-9516" /></p>
<p>Donna Butler, receptionist at Peconic Pediatrics in Riverhead, is hosting a fundraiser at the end of May for brain tumor awareness. The inspiration for this event is her youngest sister, Reilly, who had a brain tumor removed in early March and is going through a rigorous course of chemotherapy and radiation. Reilly is currently being treated at DanceBlue in Kentucky, a pediatric hematology and oncology clinic. She continues to amaze her family with her strength and positivity.</p>
<p>The fundraiser, called "Rock for Reilly," will be held on Thursday, May 26th from 7-10pm at Four Doors Down on 10560 Main Rd., in Mattituck, NY. It will be an open-mic event, and all local musicians are welcome to come and perform while supporters enjoy raffle prizes. At the end of the night, Donna and a few friends will be shaving their heads in solidarity with Reilly, who has lost her hair from the treatment. Those shaving their heads will be collecting pledges throughout the month and the proceeds will be donated to DanceBlue, to enhance the already wonderful care they provide to the patients and their families. There is also an online fundraising page through St. Baldrick's (which funds pediatric cancer research) for those who will not be able to attend "Rock for Reilly." All contributions are greatly appreciated, <a style="font-weight: regular; font-size: 14px;" href="http://www.stbaldricks.org/">Learn how to donate here.</a></p>
<p><img src="http://peconicpediatrics.com/wp-content/uploads/2014/07/rock-for-reily-peconic-pediatrics.jpg" alt="Peconic Pediatrics celebrates Sam's Heroes in this month's Spotlight!" width="300" height="191" class="alignleft size-medium wp-image-9516" /></p>
<p>The post <a rel="nofollow" href="http://peconicpediatrics.com/peconic-pediatrics-blog/spotlight-rock-for-reilly/">Spotlight: Rock For Reilly</a> appeared first on <a rel="nofollow" href="http://peconicpediatrics.com">Peconic Pediatrics</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://peconicpediatrics.com/peconic-pediatrics-blog/spotlight-rock-for-reilly/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
	</channel>
</rss>
