@import url("../CherryFramework/style.css");
@import url(http://fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@media (max-width: 767px) {
	body {
		padding-left:0px;
		padding-right:0px;
	}
}
@media (max-width: 767px) {
	body > .main-holder >.header, body > .main-holder >.content-holder, body > .main-holder >.footer {
		padding-left:20px;
		padding-right:20px;
	}
}
.content-holder { padding-bottom:41px; }
.home .content-holder { padding-bottom:55px; }
.list ul li a {
	color:#3a3a38;
	-webkit-transition:color linear .1s;
	-moz-transition:color linear .1s;
	-o-transition:color linear .1s;
	transition:color linear .1s;
	font-weight:bold;
	text-decoration:none;
}
.list ul li a:hover {
	color:#009fd9;
	text-decoration:none;
}
p { margin-bottom:20px; }
.thumbnail { padding:0; }
img { max-width:100%; }
h1, h2, h3, h4, h5 { text-transform:uppercase; }
@media (max-width: 979px) {
	h1 >br, h2 >br, h3 >br, h4 >br, h5 >br { display:none; }
}
h1 a, h2 a, h3 a, h4 a, h5 a {
	-webkit-transition:color linear .2s;
	-moz-transition:color linear .2s;
	-o-transition:color linear .2s;
	transition:color linear .2s;
}
h2 { margin:0 0 22px; }
h3 { letter-spacing:-0.5px; }
.home h2 {
	padding-top:5px;
	margin:0 0 27px;
}
.home h3 { margin:0 0 20px; }
.header {
	background:none;
	border:none;
	padding-top:27px;
	padding-bottom:0;
}
.header > .container {
	padding-bottom:12px;
	border-bottom:1px solid #c5c7b9;
}
.home .header .container { border-bottom:none; }
.hidden-phone {
	display:block;
	width:100%;
	position:absolute;
	right:0;
	top:0;
	z-index:99;
}
.logo_h p {
	color:#727272;
	font-weight:normal;
	text-transform:lowercase;
	font-size:12px;
	font-family:"Asap", sans-serif;
	line-height:14px;
}
.logo_h p p.logo_tagline { color:#727272; }
.logo_h__img {
	margin-bottom:-20px;
	margin-left:-1px;
	display:block;
}
@media (max-width: 979px) {
	.logo_h__img {
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		margin-bottom:-18px;
	}
}
@media (max-width: 380px) {
	.logo_h__img { margin-bottom:-16px; }
}
.logo_h__txt { text-transform:uppercase; }
.logo_h__txt a:hover, .logo_h__txt a:active, .logo_h__txt a:focus {
	color:#000;
	text-decoration:none;
}
@media (min-width: 768px) and (max-width: 979px) {
	.logo {
		width:100%;
		margin-top:20px;
	}
}
@media (max-width: 480px) {
	.logo { width:100%; }
}
.header .nav__primary {
	margin-top:58px;
	margin-right:2px;
}
@media (max-width: 767px) {
	.header .nav__primary {
		margin-top:85px;
		margin-right:0;
	}
}
.nav__primary .sf-menu > li > a {
	padding:0;
	border:none;
	background:none;
	font-family:"Asap", sans-serif;
	letter-spacing:-0.5px;
	font-weight:bold;
	font-size:13px;
	line-height:16px;
	text-transform:uppercase;
}
@media (min-width: 1200px) {
	.nav__primary .sf-menu > li > a {
		font-size:14px;
		letter-spacing:0;
	}
}
@media (max-width: 979px) {
	.nav__primary .sf-menu > li > a {
		font-size:12px;
		letter-spacing:-1px;
	}
}
@media (min-width: 980px) and (max-width: 1199px) {
	.nav__primary .sf-menu > li > a { letter-spacing:-1px; }
}
.sf-menu > li > a:hover, .sf-menu > li.sfHover > a, .sf-menu > li.current-menu-item > a { color:#009fd9; }
.sf-sub-indicator { background:url(images/arrows-ffffff.png) no-repeat scroll -10px -100px transparent; }
.nav__primary .sf-menu > li {
	padding-left:14px;
	margin-left:10px;
	background:url(images/separator.png) no-repeat scroll left center transparent;
}
.nav__primary .sf-menu > li >a {
	-webkit-transition:color linear .1s;
	-moz-transition:color linear .1s;
	-o-transition:color linear .1s;
	transition:color linear .1s;
}
.nav__primary .sf-menu > li >a .sf-sub-indicator {
	background-position:0 -100px;
	top:20px;
	left:50%;
	margin-left:-3px;
}
@media (min-width: 1200px) {
	.nav__primary .sf-menu > li {
		padding-left:17px;
		margin-left:13px;
	}
}
@media (max-width: 979px) {
	.nav__primary .sf-menu > li {
		padding-left:9px;
		margin-left:0;
		background:none;
	}
}
.nav__primary .sf-menu > li:first-child {
	padding-left:0;
	background:none;
}
.nav__primary .sf-menu > li li {
	background-color:#E7D1E2;
	border-top:1px solid #f1f3e8;
}
.nav__primary .sf-menu > li li:first-child { border-top:none; }
.nav__primary .sf-menu > li li >a {
	border:none;
	color:#3a3a38;
	-webkit-transition:color linear .1s;
	-moz-transition:color linear .1s;
	-o-transition:color linear .1s;
	transition:color linear .1s;
}
.nav__primary .sf-menu > li li >a:hover {
	color:#f62f58;
	background-color:transparent;
}
.nav__primary .sf-menu > li li >a .sf-sub-indicator {
	right:20px;
	top:50%;
	margin-top:-5px;
}
.nav__primary .sf-menu > li li.current_page_item >a, .nav__primary .sf-menu > li li.sfHover >a {
	color:#f62f58;
	background-color:transparent;
}
.nav__primary >ul > li .sub-menu {
	margin-top:32px;
	padding:5px 4px 10px;
	left:7px;
	border:1px solid #E7D1E2;
	background-color:#E7D1E2;
}
.nav__primary >ul > li .sub-menu .sub-menu {
	margin-top:-6px;
	margin-left:4px;
}
.slider { margin-bottom:47px; }
.camera_loader {
	background-image:url(images/camera-loader.gif);
	background-color:#dfe1d4;
	border-color:#dfe1d4;
}
.camera_caption {
	font-family:"Asap", sans-serif;
	font-size:21px;
	line-height:25px;
	text-transform:uppercase;
	text-align:center;
}
@media (max-width: 979px) {
	.camera_caption { font-size:15px; }
}
@media (max-width: 767px) {
	.camera_caption { font-size:13px; }
}
.camera_caption >div {
	padding:21px 90px 24px;
	background:url(images/bg_tx_slider.png) repeat 0 0 transparent;
}
@media (max-width: 480px) {
	.camera_caption >div {
		display:none;
		background:none;
		line-height:0;
	}
}
.camera_caption span { color:#fff; }
.camera_caption a {
	display:inline-block;
	color:#a7cc00;
	text-decoration:underline;
}
.camera_caption a:hover {
	text-decoration:none;
	color:#f62f58;
}
.camera_prev, .camera_next, .camera_commands {
	top:100%;
	margin-top:-51px;
	height:31px;
	width:31px;
	border-radius:100%;
	background-color:#a7cc00;
}
.camera_prev:hover, .camera_next:hover, .camera_commands:hover { background-color:#f62f58; }
.camera_prev >span, .camera_next >span, .camera_commands >span {
	height:31px;
	width:31px;
}
.camera_prev { left:15px; }
.camera_prev >span { background:url(images/arr_right_slider.png) no-repeat center center transparent; }
.camera_next { right:15px; }
.camera_next >span { background:url(images/arr_left_slider.png) no-repeat center center transparent; }
.camera_fakehover .camera_commands { right:51px; }
.camera_fakehover .camera_commands >div {
	height:32px;
	width:32px;
	background:url(images/camera_skins.png) no-repeat 11px center transparent;
}
.camera_fakehover .camera_commands >div.camera_stop { background-position:-30px center; }
#content { padding-top:56px; }
.home #content { padding-top:40px; }
@media (min-width: 1200px) {
	a img.alignright { margin-left:50px; }
}
.title-section { padding-top:34px; }
.title-section .title-header { margin-bottom:27px; }
.btn { font-family:"Asap", sans-serif; }
.btn-warning, .btn-danger, .btn-success, .btn-info, .btn-inverse { background:none; }
.hr {
	background-color:#c5c7b9;
	margin-top:18px;
	margin-bottom:36px;
}
.home .hr {
	margin-top:22px;
	margin-bottom:40px;
}
.spacer { height:10px; }
#back-top a span {
	background-color:#009fd9;
	border-radius:100%;
}
#back-top a:hover span { background-color:#f62f58; }
div.pp_default .pp_content { background-color:#f8f8f8; }
.list.custom-list { overflow:hidden; }
.list.custom-list ul { margin-bottom:30px; }
.list.custom-list ul li {
	padding-left:16px;
	margin:0 0 11px;
}
.list.custom-list ul li:before {
	background-image:url(images/dot.png);
	background-position:0 0;
	background-repeat:no-repeat;
	content:"";
	height:9px;
	width:8px;
	top:5px;
	left:0;
	position:absolute;
}
.google-map { background-image:url(images/loading-map.gif); }
.thumbnail a { text-decoration:none; }
.thumbnail a img {
	font:13px/20px Arial, Helvetica, sans-serif;
	text-transform:none;
	color:#3a3a38;
}
.thumbnail a:hover img { text-decoration:none; }
.testimonial {
	background:url(images/tail-comment.png) repeat scroll 0 0 transparent;
	border-color:#d7d8d0;
}
.testimonial small { font:bold 13px/20px Arial, Helvetica, sans-serif; }
.testimonial small span { color:#3a3a38; }
.testimonial small a:hover { color:#f62f58; }
.error404 .error404-holder_num { color:#009fd9; }
.error404 .search-form .search-form_it {
	margin-right:10px;
	width:196px;
}
@media (max-width: 360px) {
	.error404 .search-form .search-form_it { width:170px; }
}
.faq-list_h {
	font:bold 13px/20px Arial, Helvetica, sans-serif;
	color:#3a3a38;
}
.faq-list_body { color:#3a3a38; }
.faq-list .marker { color:#f62f58; }
h3.archive_h { margin:0 0 20px; }
.filterable-portfolio .portfolio_item {
	padding:0 10px 0 20px;
	margin-bottom:36px;
}
.filterable-portfolio { margin-left:-20px; }
.filter-wrapper {
	text-transform:uppercase;
	font:400 23px/28px Asap;
	letter-spacing:-0.5px;
	padding-top:2px;
	margin-bottom:41px;
}
@media (max-width: 767px) {
	.filter-wrapper {
		font-size:13px;
		letter-spacing:0;
	}
	.filter-wrapper .filter a {
		padding-left:17px;
		padding-right:17px;
	}
}
@media (max-width: 480px) {
	.filter-wrapper .pull-right {
		float:left;
		display:block;
		width:100%;
	}
	.filter-wrapper .pull-right strong {
		float:none;
		margin-bottom:12px;
		font-size:23px;
	}
	.filter-wrapper .pull-right .filter li { float:left; }
	.filter-wrapper .pull-right .filter li a {
		padding:10px 10px 10px 10px;
		font:400 13px/16px Arial, Helvetica, sans-serif;
		text-transform:none;
	}
}
.filter-wrapper strong {
	font-weight:400;
	color:#3a3a38;
}
.filter-wrapper a { color:#3a3a38; }
.filter-wrapper .nav li.active a, .filter-wrapper .nav li a:hover {
	color:#fff;
	background-color:#a7cc00;
}
.filter-wrapper strong {
	padding-top:0;
	padding-bottom:0;
	margin:10px 17px 10px 0;
}
.pager li > a, .pager li > span {
	font:400 17px/20px "Asap", sans-serif;
	color:#000;
}
.pager li > a:hover, .pager li > a:focus { color:#f62f58; }
.single-pager {
	border-color:#c5c7b9;
	padding-top:15px;
	padding-bottom:15px;
}
.portfolio-meta-list { border-color:#c5c7b9; }
div.pp_default .pp_gallery ul li a { border-color:#c5c7b9; }
div.pp_default .pp_gallery ul li a:hover, div.pp_default .pp_gallery ul li.selected a { border-color:#fff; }
.pagination ul > li.active > a {
	border-color:#dfe1d4;
	color:#fff;
}
.filterable-portfolio .image-wrap { background:url(images/loading-folio.gif) no-repeat scroll 50% 50% #d4d7c5; }
.portfolio_item_holder .thumbnail__portfolio { margin-bottom:25px; }
.portfolio_item_holder h6 {
	margin-top:0;
	margin-bottom:0;
}
.portfolio_item_holder .excerpt { margin-bottom:15px; }
.single .featured-thumbnail.large { margin-bottom:30px; }
.single .single-pager { margin-top:0; }
.caption__portfolio h6 a { color:#3a3a38; }
.caption__portfolio h6 a:hover, .caption__portfolio h6 a:active, .caption__portfolio h6 a:focus {
	color:#009fd9;
	text-decoration:none;
}
.single-portfolio .grid_gallery, .single-portfolio .jp-video, .single-portfolio .jp-audio { margin-bottom:30px; }
.single-post #content > article, .single-post #content > div, .blog #content > article, .blog #content > div { margin-right:3.85%; }
.single-post #content .post__holder { margin-bottom:17px; }
.single-post #content .share-buttons { margin-bottom:29px; }
.related-posts h2 { margin-bottom:31px; }
.related-posts .related-posts_list { margin-left:-2.3%; }
.related-posts .related-posts_item {
	width:22.5%;
	margin-left:2.3%;
	margin-bottom:18px;
}
.related-posts .related-posts_item .featured-thumbnail { margin:0 0 15px; }
@media (max-width: 979px) {
	.related-posts .related-posts_item a {
		font-size:18px;
		line-height:22px;
	}
}
@media (max-width: 767px) {
	.related-posts .related-posts_item a {
		font-size:12px;
		line-height:14px;
	}
}
@media (max-width: 360px) {
	.related-posts .related-posts_item a {
		font-size:10px;
		line-height:12px;
	}
}
.post_content { padding-bottom:19px; }
h2.post-title a {
	color:#000;
	text-decoration:none;
}
h2.post-title a:hover {
	color:#009fd9;
	text-decoration:none;
}
h1.post-title {
	margin-top:0;
	margin-bottom:22px;
}
.post_meta {
	border-color:#c5c7b9;
	padding-top:15px;
	padding-bottom:14px;
	font-size:13px;
	line-height:20px;
}
.post_meta a:hover { color:#009fd9; }
.post_meta i {
	color:#b5b5b5;
	font-size:13px;
	line-height:20px;
	margin-right:8px;
}
.post_meta .post_author a { color:#3a3a38; }
.post_meta .post_author a:hover { color:#3a3a38; }
@media (max-width: 979px) {
	.post_meta span {
		display:block;
		width:100%;
		padding-right:0;
		margin-bottom:2px;
	}
}
.format-quote .post_meta { padding-top:10px; }
.post-author {
	margin-bottom:22px;
	background:url(images/tail-comment.png) repeat scroll 0 0 transparent;
	border:none;
	padding:15px 21px 24px 30px;
}
.post-author .post-author_h a { color:#3a3a38; }
.post-author .post-author_h a:hover {
	color:#009fd9;
	text-decoration:none;
}
.post-author .post-author_gravatar {
	margin-top:4px;
	margin-bottom:10px;
}
.post-author .post-author_gravatar img {
	padding:0;
	border:none;
}
.post-author .post-author_desc { overflow:hidden; }
@media (max-width: 360px) {
	.post-author .post-author_desc { overflow:visible; }
}
.post-author .post-author_desc, .post-author .post-author_desc p { margin-bottom:0; }
.post-author .post-author_desc .post-author_link { font-weight:bold; }
.post-author .post-author_desc .post-author_link a {
	color:#3a3a38;
	text-decoration:none;
}
.post-author .post-author_desc .post-author_link a:hover {
	color:#009fd9;
	text-decoration:none;
}
.related-posts_item a {
	font:400 23px/28px "Asap", sans-serif;
	text-transform:uppercase;
	color:#3a3a38;
	text-decoration:none;
}
.related-posts_item a:hover {
	color:#009fd9;
	text-decoration:none;
}
.related-posts { margin-bottom:0; }
.format-quote blockquote {
	color:#3a3a38;
	border-color:#a7cc00;
}
.flex-control-paging li {
	line-height:11px;
	height:11px;
}
.flex-control-paging li a { background-color:#a7cc00; }
.flex-control-paging li a.flex-active, .flex-control-paging li a:hover { background-color:#f62f58; }
.flexslider { background-image:url(images/loading.gif); }
.single-post .featured-thumbnail.thumbnail.large {
	margin:0 0 26px;
	padding-top:4px;
}
.single-post .featured-thumbnail.thumbnail.large img {
	margin:0;
	width:auto;
	max-width:100%;
}
.comment-list .comment-meta, .comment-list .reply { font-weight:bold; }
.comment-list .reply a:hover { color:#f62f58; }
.comment-list .comment-author { margin-bottom:10px; }
.comment-list .comment-author .author { font-weight:normal; }
.comment-holder { margin-bottom:0; }
.comment-holder .comment ul.children { margin-left:40px; }
.comment-holder .comment .comment-body {
	padding:26px 36px 20px 27px;
	background:url(images/tail-comment.png) repeat scroll 0 0 transparent;
	border:none;
}
.comment-holder .comment .comment-body .reply { margin-left:33px; }
.comment-holder .comment .comment-body .comment-author {
	margin-top:4px;
	margin-right:17px;
}
.comment-holder .comment .comment-body .comment-author .author { padding-top:1px; }
@media (max-width: 480px) {
	.comment-holder .comment ul.children { margin-left:5%; }
	.comment-holder .comment .comment-body .extra-wrap { overflow:visible; }
}
#respond { padding-top:22px; }
#respond h2 { margin-bottom:31px; }
.comment-holder { overflow:hidden; }
#commentform p { margin-bottom:23px; }
#commentform p a:hover { color:#009fd9; }
input, button, select, textarea { font:13px/20px Arial, Helvetica, sans-serif; }
#commentform input[type="text"] {
	padding:14px 21px;
	height:46px;
	width:370px;
	max-width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
@media (min-width: 480px) and (max-width: 768px) {
	#commentform input[type="text"] { width:370px; }
}
.ie8 #commentform p { max-width:100%; }
#commentform textarea {
	width:100%;
	max-width:100%;
	min-width:100%;
	min-height:385px;
	padding:14px 21px;
	height:385px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
@media (max-width: 979px) {
	#commentform textarea {
		width:100%;
		max-width:100%;
		min-width:100%;
	}
}
@media (min-width: 1201px) {
	#commentform textarea {
		max-width:670px;
		min-width:670px;
		width:670px;
	}
}
.ie8 #commentform textarea {
	min-height:359px;
	height:359px;
}
input[type="submit"], .wpcf7-form .submit-wrap input {
	background:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	border:none;
	padding:0;
}
.wpcf7-form p.field input {
	height:46px;
	padding:12px 20px;
}
.wpcf7-form textarea { padding:12px 20px; }
.wpcf7-form span.wpcf7-not-valid-tip {
	padding:13px 20px !important;
	height:46px;
	font:11px/20px Arial, Helvetica, sans-serif;
}
@media (min-width: 1200px) {
	.wpcf7-form span.wpcf7-not-valid-tip { font-size:13px; }
}
@media (min-width: 768px) and (max-width: 1200px) {
	.wpcf7-form span.wpcf7-not-valid-tip { font-size:11px; }
}
@media (max-width: 360px) {
	.wpcf7-form span.wpcf7-not-valid-tip { font-size:11px; }
}
@media (min-width: 768px) and (max-width: 980px) {
	.wpcf7-form span.wpcf7-not-valid-tip { padding:13px 7px !important; }
}
@media (min-width: 480px) and (max-width: 767px) {
	.wpcf7-form span.wpcf7-not-valid-tip { font-size:13px; }
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	background:url(images/tail-comment.png) repeat scroll 0 0 transparent;
	border:none;
}
#sidebar { padding-top:56px; }
#sidebar .widget { margin-bottom:63px; }
#sidebar .widget h3 {
	font-size:43px;
	line-height:38px;
	margin-top:0;
	margin-bottom:22px;
}
#sidebar .widget ul {
	list-style-type:none;
	margin:0;
}
#sidebar .widget ul li {
	background:url(images/dot-sidebar.png) no-repeat scroll 0 8px transparent;
	padding:0 0 11px 14px;
}
#sidebar .widget ul li a {
	color:#3a3a38;
	-webkit-transition:color linear .1s;
	-moz-transition:color linear .1s;
	-o-transition:color linear .1s;
	transition:color linear .1s;
	text-decoration:none;
	font-weight:bold;
}
#sidebar .widget ul li a:hover {
	color:#009fd9;
	text-decoration:none;
}
#sidebar .widget ul li a.btn {
	font-weight:normal;
	color:#3a3a38;
	text-align:left;
}
#sidebar .widget ul li a.btn:hover { color:#f62f58; }
#sidebar .widget ul li h6.post-list_h {
	margin-top:0;
	margin-bottom:23px;
}
#sidebar .widget ul li h6.post-list_h a:hover { color:#f62f58; }
#sidebar .widget ul li .recent { overflow:hidden; }
@media (max-width: 979px) {
	#sidebar .widget ul li .recent { overflow:visible; }
}
#sidebar .widget ul li .recent .excerpt { margin-bottom:24px; }
#sidebar .widget ul.unstyled li {
	background:none;
	padding:0;
}
#sidebar .widget ul.post-list .post-list_li { margin-top:41px; }
#sidebar .widget ul.post-list .post-list_li time {
	color:#009fd9;
	font-weight:bold;
}
#sidebar .widget ul.post-list .post-list_li:first-child { margin-top:0; }
.flickr_li .thumbnail {
	display:inline-block;
	border:1px solid #fcfcfc;
}
.flickr_li .thumbnail:hover, .flickr_li .thumbnail.focus {
	border-color:#3a3a38;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.social__list .social_label {
	line-height:35px;
	vertical-align:middle !important;
}
.social__list .social_link, .social__list .social_ico { vertical-align:middle !important; }
.tooltip-inner { background-color:#009fd9; }
.tooltip-arrow { border-top-color:#009fd9 !important; }
#sidebar .tooltip-inner, #sidebar .tooltip-arrow { display:none !important; }
#sidebar .page_item .children { margin-top:10px; }
.tagcloud a {
	margin:0 5px 5px 0;
	padding:5px 12px;
	color:#fff;
	text-decoration:none;
	font-size:13px !important;
	background-color:#009fd9;
	display:inline-block;
}
.tagcloud a:hover { background-color:#f62f58; }
.search-form_it { margin-right:10px; }
#wp-calendar thead th { background:#d4d7c5; }
#wp-calendar #today { color:#009fd9; }
.banner-wrap { margin-bottom:13px; }
.banner-wrap.banner_page { padding-top:5px; }
.banner-wrap.banner_content { margin-top:-4px; }
.banner-wrap.banner_content .featured-thumbnail, .banner-wrap.banner_page .featured-thumbnail {
	float:left;
	margin-right:29px;
	padding:0;
	margin-bottom:10px;
}
.banner-wrap.banner_page .featured-thumbnail { margin-right:19px; }
.banner-wrap.banner_content .featured-thumbnail img {
	width:170px;
	height:auto;
}
.banner-wrap.banner_page .featured-thumbnail img {
	width:270px;
	height:auto;
}
.banner-wrap .featured-thumbnail a { border:none; }
.banner-wrap.banner_page >div {
	overflow:hidden;
	padding-right:20px;
}
@media (max-width: 979px) {
	.banner-wrap.banner_page >div {
		overflow:visible;
		padding-right:0;
	}
}
.banner-wrap h6 {
	margin:-5px 0 23px;
	color:#3a3a38;
}
.banner-wrap.banner_content h6 { margin:4px 0 23px; }
.banner-wrap.banner_content .link-align { margin-top:4px; }
.service-box {
	background:none;
	border:none;
	padding:0;
	box-shadow:none;
}
.service-box .icon { margin:0 18px 10px 0; }
.service-box .btn-align { text-align:left; }
.service-box h3 { margin-top:12px; }
@media (max-width: 979px) {
	.service-box h3 { font-size:18px; }
}
@media (min-width: 360px) and (max-width: 767px) {
	.service-box h3 { margin-top:20px; }
}
.service-box h6 {
	margin-top:0;
	margin-bottom:20px;
}
.service-box .service-box_txt { margin-bottom:22px; }
@media (max-width: 767px) {
	.service-box { margin-bottom:35px; }
}
.service-box .btn-align { padding-top:2px; }
.container .posts-grid h2 {
	white-space:pre-wrap;
	padding-top:0;
	line-height:41px;
	margin:0 0 18px;
}
@media (max-width: 767px) {
	.container .posts-grid h2 { white-space:normal; }
}
@media (max-width: 979px) {
	.container .posts-grid h2 { font-size:32px; }
}
.container .posts-grid h5 {
	letter-spacing:0.5px;
	margin:0 0 6px;
}
.container .posts-grid .thumbnail {
	margin-bottom:17px;
	padding:0;
}
@media (max-width: 767px) {
	.container .posts-grid .thumbnail { margin-right:20px; }
}
.container .posts-grid .thumbnail a, .container .posts-grid .thumbnail img, .container .posts-grid .thumbnail span { max-width:100%; }
.container .posts-grid .excerpt {
	line-height:19px;
	margin-bottom:13px;
}
.container .posts-grid li { margin-bottom:27px; }
@media (max-width: 767px) {
	.container .posts-grid li { margin-bottom:40px; }
}
@media (max-width: 480px) {
	.container .posts-grid .thumbnail, .banner-wrap.banner_content .featured-thumbnail, .banner-wrap.banner_page .featured-thumbnail {
		width:100%;
		margin-right:0;
		float:none;
	}
	.container .posts-grid .thumbnail a, .container .posts-grid .thumbnail img, .banner-wrap.banner_content .featured-thumbnail a, .banner-wrap.banner_content .featured-thumbnail img, .banner-wrap.banner_page .featured-thumbnail a, .banner-wrap.banner_page .featured-thumbnail img { width:100%; }
}
@media (max-width: 767px) {
	.home .content-holder .span8 { margin-top:40px; }
}
.footer {
	background:#c1c2bc;
	border:none;
	padding:26px 0 16px;
	color:#7f7f7f;
}
.footer .footer-text { font-family:'Droid Sans', sans-serif; }
.footer .footer-text img { margin-right:5px; }
.footer .footer-text a { display:inline-block; }
.footer .footer-text a:hover > img { opacity:0.5; }
.footer a { color:#7f7f7f; }
.footer a:hover { color:#009fd9; }
@media (max-width: 480px) {
	.footer .right { text-align:center; }
}
.footer .right >div {
	display:inline-block;
	float:right;
	margin-left:30px;
	position:relative;
}
@media (max-width: 480px) {
	.footer .right >div {
		float:none;
		margin-left:0;
		text-align:center;
	}
}
@media (min-width: 480px) and (max-width: 767px) {
	.copyright .span6 {
		float:left;
		width:50%;
	}
}
nav.footer-nav, nav.footer-nav ul { float:left !important; }
@media (min-width: 480px) and (max-width: 767px) {
	nav.footer-nav, nav.footer-nav ul {
		display:block !important;
		float:none !important;
	}
}
nav.footer-nav li, nav.footer-nav ul li {
	padding-left:8px;
	text-align:left;
}
nav.footer-nav li:first-child, nav.footer-nav ul li:first-child { padding-left:0; }
nav.footer-nav li.current-menu-item a, nav.footer-nav li a:hover, nav.footer-nav ul li.current-menu-item a, nav.footer-nav ul li a:hover {
	color:#fff;
	text-decoration:none;
}
.footer .social__row { float:right; }
.footer .social__row li { margin-left:10px; }
.footer .social__row li:first-child { margin-left:0; }
@media (min-width: 768px) and (max-width: 1200px) {
	h2 {
		font-size:36px !important;
		line-height:43px !important;
		letter-spacing:-1px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.container .posts-grid .thumbnail { width:100%; }
	.container .posts-grid .thumbnail a, .container .posts-grid .thumbnail img { width:100%; }
}
@media (min-width: 481px) and (max-width: 767px) {
	.img { width:180px; }
	.home .posts-grid li.span3 {
		margin-left:4%;
		width:46%;
		float:left;
	}
	.home .posts-grid li.span3 h2 { font-size:20px; }
	.footer-text { text-align:left; }
}
@media (max-width: 480px) {
	.img { width:100%; }
	.breadcrumb li { font-size:16px; }
	.breadcrumb li.divider { padding:0 8px; }
	h1, h2 {
		font-size:32px !important;
		line-height:38px !important;
	}
}
.ie8 h2 {
	font-size:36px !important;
	line-height:43px !important;
	letter-spacing:-1px;
}
.ie8 .posts-grid .featured-thumbnail { width:220px; }
.ie8 .banner-wrap.banner_content .featured-thumbnail, .ie8 .banner-wrap.banner_content .featured-thumbnail a { width:170px; }
.ie8 .banner-wrap.banner_page .featured-thumbnail, .ie8 .banner-wrap.banner_page .featured-thumbnail a { width:270px; }
.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after {
	display:table;
	content:"";
	line-height:0;
}
.clearfix:after { clear:both; }
.hide-text {
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
}
.input-block-level {
	display:block;
	width:100%;
	min-height:30px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
