/* #Widgets
================================================== */
/* General for Widget */
.widget {
	margin-bottom:30px;
	&.visible-all-devices,
	&.visible-desktop,
	&.visible-tablet,
	&.visible-phone,
	&.hidden-phone,
	&.hidden-desktop,
	&.hidden-table {
		position: relative;
		top: 0;
		left: 0;
		right: auto;
		width: auto;
	}
}

/* Standard Widgets
---------------------------------------- */

/* Calendar */
#calendar_wrap {
	padding:0;
}
	#wp-calendar {
		width:100%;
	}
		#wp-calendar td {
			padding:6px 0;
			border:none;
			text-align:center;
		}
		#wp-calendar caption {
			margin-bottom:5px;
			padding:4px 0;
			color:#000;
			font-weight:bold;
			font-size:16px;
			text-align:center;
		}
		#wp-calendar thead th {
			padding:7px 0;
			background:#fff;
			color:#000;
			text-align:center;
			font-size:14px;
		}
		#wp-calendar #prev {
			text-align:left;
		}
		#wp-calendar #next {
			text-align:right;
		}
		
/*/ Calendar */

/* Text Widget */
.textwidget {
	word-wrap: break-word;
}
/*/ Text Widget */


/* Custom Widgets
---------------------------------------- */				

/* Custom Recent Comments */
.comments-custom {
	
	& li {
		overflow:hidden;
		margin:0;
		padding:25px 0 25px 0;
		border-bottom:none;
		background:none;
	}
	& li:first-child {
		padding-top:0;
		border-top:none;
	}
	&_txt {
		padding: 7px 0 0 0;
		border-top: 1px solid #eaeaea;
		margin-top: 7px;
	}
		&_txt a {
			text-decoration: none;
		}
		&_txt a:hover {
			text-decoration: underline;
		}
	&_h_title,  &_h_author{
		margin-bottom:5px;
		margin-top: 0px;
	}
	&_h_author:first-letter{
		text-transform:uppercase;
	}
	& i {
		font-size: 16px;
		margin-right: .5em;
		color: #999;
		float: left;
		min-width: 15px;
		text-align: center;
	}
	& .ladle{
 		float:left;
 		padding-right: 5px;
	}
	.meta_format{
		margin-top: 2px;
 		font-size:14px;
 	}
}
/*/ Custom Recent Comments */


/* Posts List */
.post-list {

	& li {
		overflow:hidden;
		padding-top:1.5em;
		padding-bottom:1.5em;
	}
	& li:first-child{
		padding-top:0;
		border:none;
	}
	&_h {

	}
	& .excerpt {
		margin-bottom: 1em;
	}
	&_comment {

	}
}
/*/ Posts List */

/* Flickr widget */
.flickr {

	&_list {

	}
	&_li {
		vertical-align: top;
	}
		&_li .thumbnail {
			position: relative;
			margin: 0 0 6px 0;
		}
		&_li:nth-child(3n-2) {
			margin-left: 0;
		}
		&_li.nomargin {
			margin-left: 0;
		}

	/* IE8 */
	.ie8 &_li.nomargin {
		margin-left: 0;
	}
		.ie8 &_li img {
			height: 60px;
		}

	@media (min-width: 768px) and (max-width: 979px) {
		&_li .thumbnail {
			display: block;
		}
	}
	@media (max-width: 767px) {
		&_li {
			float: left !important;
			width: auto !important;
			margin: 0 14px 14px 0;
		}
		&_li .thumbnail {
			display: block;
			float: left;
		}
	}

}
/*/ Flickr widget */


/* Banners widget
---------------------------------------- */
.banners {
	
	&_li {
		float:left;
		margin:0 3px 3px 0;
	}
	&_img {
		width: 125px;
		height: auto;
	}

}
/*/ Banners widget */


/* vCard widget
---------------------------------------- */			
.vcard {
	
	& span {
		display: block;
	}
	.meta_format {
		margin-top: 2px;
		font-size: 12px;
		i{
			font-size: 14px;
			margin-right: .5em;
			color: #999;
			float: left;
			min-width: 15px;
			text-align: center;
			margin-top: 1px;
		}
	}
	.ladle{
		padding-right: 5px;
		font-weight: normal;
	}
	.ladle, .ladle+span{
		display:inline-block;
	}

}

/*/ vCard widget */	

/* fagebook like box widget */
.dark_background {
	background-color: #333;
	padding: 10px;
}
iframe .uiHeader h3{
	color:#fff;
}
/*/ fagebook like box widget */		
